[2014-11-18 18:20] krwq opened #14 "[low pri] build /t:clean doesn't clean binary folder"
Those are basically two bugs:
- Xunit runner runs tests on all binaries inside bin folder instead of only built binaries
- build /t:clean do not remove old binaries from bin folder

Repro:
- build
- rename any csproj with tests by simply changing AssemblyName property
- build

Effect: tests of rename binary run twice
- build /t:clean
- build

Effect: tests of rename binary run twice
- remove bin f

[2014-11-23 03:30] weshaggard opened #18 "Projects build inconsistently depending on how the build is kicked off"
The root of this problem is because binaries.targets has the following:

[code]

So all these options like output and intermediate paths are only set from the root build.proj and if you build a given project locally from the command line or within VS the binaries get put into different places and have different targets executed. Things like signing, packaging, resource generation, are not happenin

[2014-11-23 04:13] weshaggard opened #19 "fxbuild.proj should default Configuration to Debug and AnyCPU"
fxbuild.proj defaults configuration to Release which is somewhat unexpected when building and testing locally. It makes some things like debugging more difficult. I would only expect the build machines to pass Release as the default or people that explicity set it.

[code]

We should do something similar to what Microsoft.Common.CurrentVersion.targets does which is:

[code]

[2014-11-23 18:45] weshaggard opened #20 "Microsoft.DotNet.Build.Tasks contains dead duplicated entries for the target files"
The Target files are listed as Content items as well as None items. The Content items have an incorrect <Link> tag so they don't show up in VS but they do control the copying of those files to the output. However the None tags don't do anything but show the files in VS. We can tweak the <Link> metadata in the Content tags and delete the None items to get these showing up in VS correctly and copyin

[2014-12-11 22:17] krwq opened #26 "Xunit visual studio runner causes build to fail by default"
When adding nuget reference to xunit.runner.visualstudio it breaks the build:

xunit visualstudio runner is adding some dlls in the output directory and one of the binaries happen to match our wildcard:
dll: xunit.runner.visualstudio.testadapter.dll
pattern: $(OutDir)_\test_.dll

which causes errors to appear when it tries to run the tests on this binary.

[2014-12-17 01:36] FiveTimesTheFun opened #30 "Testing on .NET Core should use framework assemblies from our framework packages"

[2014-12-18 06:32] #18 closed, assigned to weshaggard

[2014-12-20 08:41] #20 closed, assigned to weshaggard

[2014-12-20 08:41] #19 closed, assigned to weshaggard

[2014-12-20 09:04] #26 closed, assigned to krwq

[2014-12-20 09:06] #14 closed, assigned to nobody

[2015-01-13 22:19] FiveTimesTheFun commented on #30
@weshaggard https://github.com/dotnet/buildtools/pull/40 should address this issus, yes?

[2015-01-14 02:18] weshaggard commented on #30
Yes I think we are good thanks @FiveTimesTheFun

[2015-01-14 02:18] #30 closed

[2015-02-08 00:48] ellismg opened #60 "Support incremental test runs"
(from @eatdrinksleepcode in dotnet/corefx#678)

Executing a build twice in a row should ideally be as close to a no-op as possible. In CoreFX, unit tests are always executed during the second run, even when the both the main and test project have not changed. This could be fixed by specifying the correct Inputs and Outputs to the RunTests task. I would be happy to submit a PR with this change to t

[2015-02-09 08:14] eatdrinksleepcode commented on #60
(In reponse to @weshaggard at https://github.com/dotnet/corefx/issues/678#issuecomment-73352719)

My strong preference would be to (a) only run the tests if the test assembly has changed (i.e. something in the tests or their dependencies has changed), and (b) only copy files to the test directory if the tests need to be run. Unfortunately the way the test targets are structured today makes (b) dif

[2015-02-09 19:17] weshaggard commented on #60
Thanks @eatdrinksleepcode I'm slowing working on changing how we restore packages as part of the build so I will think about this as well. If you want a early look at my changes see my branch https://github.com/weshaggard/corefx/tree/RestorePackagesPerProject.

[2015-02-10 19:00] eatdrinksleepcode commented on #60
I started looking into this, and quickly discovered that the current xunit.console runner does not produce any output files, because the two output types built into xunit both require xsl transformation, which is not exposed in a portable contract. My idea is to add an option to the xunit.console runner to produce an output file with the raw xml results. This would give us output files to use in t

[2015-02-10 19:11] alexperovich commented on #60
@eatdrinksleepcode I'm working on a change to do just that. There was a raw xml format just it was excluded along with the formats that require xslt.

[2015-02-10 19:13] eatdrinksleepcode commented on #60
@alexperovich great! I will hold off on any further work on this until your change comes through.

[2015-02-10 20:12] alexperovich commented on #60
Fix in PR #62

[2015-02-10 20:55] weshaggard commented on #60
Thanks @alexperovich. @eatdrinksleepcode while this will mean we get a results file I don't know that we want to make the running of the test incremental on the existents of the results file. I would prefer it is incremental only on a passing test run. I definitely want to be able to re-run tests that have failures for debugging, etc, and preferably that wouldn't require a complete rebuild of the

[2015-02-10 21:33] eatdrinksleepcode commented on #60
I completely agree.

I find myself (as I often do) pining for [Gradle](http://gradle.org/), where every task has a default up-to-date check that includes both the inputs and outputs AND whether the last task run succeeded. Unfortunately MSBuild not only lacks that functionality, but also lacks the necessary extension points to implement it from the outside.

The only ways that I can think of worki

[2015-02-10 21:37] alexperovich commented on #60
@eatdrinksleepcode I hesitate to suggest using a marker file, but you could touch the file when the test run passes and use it in in the Output attribute of the target

[2015-02-10 23:04] weshaggard commented on #60
@alexperovich @eatdrinksleepcode I don't think the mark file is a bad idea, that is what I was planning to do before we had the results file. While it is kind of a hack I've began to except it as a way to handle these type of cases in MSBuild and where the inputs/outputs are too complex and unknown statically.

As an example look at RestorePackages target in my branch https://github.com/weshaggard

[2015-02-10 23:39] eatdrinksleepcode commented on #60
Yes, that will work. I had misread [the documentation for incremental builds](https://msdn.microsoft.com/en-us/library/ms171483.aspx) to mean that skipping a task based on timestamps would only work if there is a one-to-one mapping from the inputs to the outputs; but upon re-reading I realize that it is making a statistical observation, not a functional statement.

@weshaggard, are you actively wo

[2015-02-11 07:54] weshaggard commented on #60
@eatdrinksleepcode please go ahead and take a crack at this. At this point I'm primarily looking at the packaging, which is going slowly as I've not had enough time to finish it yet.

[2015-02-16 18:43] stephentoub opened #77 "Include [ComVisible(false)] in generated _AssemblyInfo.cs file"
Per the discussion at https://github.com/dotnet/corefx/pull/782, we're scrubbing [ComVisible] attribution from the CoreFX sources.  If the resolution of that discussion is that we should have an [assembly: ComVisible(false)] attribute in every assembly, we should put it in the generated _AssemblyInfo.cs file that's generated as part of the build.

[2015-02-18 22:31] AlexGhiondea commented on #77
LGTM

[2015-02-19 01:11] weshaggard commented on #77
The support for this has been included in the build tools we now just need to decide whether or not we include it by default by setting AssemblyComVisible=false in our src\dir.targets in the CoreFX repo.

[2015-02-23 02:30] nguerrera opened #90 "Cannot reference portable nupkg from corefx test projects"
See dotnet/corefx#950. There is currently a dependency on the nupkg explicitly mentioning aspnetcore50.

I'm working around it with a binary reference while excluding the package from packages.config. (This only works because we have to build the src/ project first which guarantees that the package will have been restored.)

**Repro steps in dotnet/corefx**
1. Clean entire enlistment (git clean -f

[2015-02-23 02:31] nguerrera commented on #90
/cc @FiveTimesTheFun @weshaggard @akoeplinger

I will send out a PR with workaround to close dotnet/corefx#950, but this tracks getting the core issue resolved in buildtools.

[2015-02-25 02:27] nslottow opened #92 "Add @(AllItemsFullPathWithTargetPath) to TestCopyLocal list in publishtest.targets"
@weshaggard Thanks for helping figure this out.

This will enable managed test projects that use project references to native projects to publish the native output to the test drop.  This would fix the issue I mentioned in [#1013](https://github.com/dotnet/corefx/pull/1013)

[2015-03-12 02:30] weshaggard commented on #60
@eatdrinksleepcode is this still something you are planning to look into? Its fine if you don't have the time I will pick it up on my backlog.

[2015-03-12 19:25] eatdrinksleepcode commented on #60
I actually spent a fair amount of time on this. Having the tests only run when there was a change was difficult because the file copying was always happening no matter what. So I worked on making the file copying only happen when there was a relevant change, and here ran into the problem that for the date/time stamp checking to working correctly, the test inputs needed to be separated from the out

[2015-03-12 19:33] weshaggard commented on #60
Yes if you see my recent changes in CoreFX https://github.com/dotnet/corefx/pull/1117 it now uses the targets from the build tools. Please have a look if you have time, but don't feel like you need to I will get to it eventually if you cannot.

[2015-03-12 22:34] ellismg opened #112 "Debugging tests broken in VS"
a385cfb seems to have broken the ability to run Unit Tests inside VS.  The transformation for {XunitTraitOptions} doesn't seem to happen when loading the project inside VS, so the command line we pass when the test project is set as the startup project is incorrect and causes the test runner to exit with an error.

Do we need to do something specific here when running under VS?

[2015-03-12 22:35] ellismg commented on #112
/cc @nguerrera who was looking at this with me.

[2015-03-12 22:44] weshaggard commented on #112
I wonder if this was broken with change https://github.com/dotnet/corefx/commit/85bd8348750dc65e55d625a2e20552d64fb076bc#diff-aad6833a46296c5e45aba8de08674fa0. However at any case you are correct the replacement piece is broken in VS. It becomes somewhat tricky to do the computation of the traits outside of the targets but we could make the VS arguments ignore the traits all together.

[2015-03-12 22:47] ellismg commented on #112
Very possible that it was broken before your refactoring, I haven't tried it in a few weeks.

[2015-03-14 00:29] weshaggard opened #114 "RestoreBuildTools has some race conditions"
We should look for another solution that doesn't requiring an explicit Touch of nuget.exe and the buildtools library at the end of RestoreBuildTools target in dir.targets.

The reason it was added was to deal with the case where people didn't actually delete their packages directory but they got an updated dir.props file and in that case they could get into a loop where RestoreBuildTools always ru

[2015-03-14 20:54] weshaggard commented on #77
We have support for this in the build targets but right now we aren't putting any AssemblyComVisible attributes on our assemblies. I'm closing this issue as it was more about adding support for this if we feel we need to set it to false then we just need to set the AssemblyComVisible property to false in our dir.props for the repo.

[2015-03-14 20:54] #77 closed

[2015-03-15 16:21] eatdrinksleepcode opened #117 "ResolveNuGetPackages causes unbounded growth of NuGet cache"
While working on #116, I kept running out of disk space: I would free some up, but then just a few minutes later the drive would be full again. I discovered that a full build of CoreFX is adding over half a gig to the NuGet cache (%TEMP%\nuget), even with no changes and nothing new to download. I narrowed this down to the ResolveNuGetPackages task: something about this task is causing new packages

[2015-03-15 18:32] akoeplinger commented on #117
I see the same behavior! Now I know why my VM is running out of disk space :smile:

I debugged into the task and found out that in [ResolveNuGetPackages.cs#L221](https://github.com/dotnet/buildtools/blob/b748889166987caf6631383e5f3e13e59ae71980/src/Microsoft.DotNet.Build.Tasks/ResolveNuGetPackages.cs#L221) a new temp folder is generated with the package contents each time this line is executed. I

[2015-03-15 18:54] eatdrinksleepcode commented on #117
FYI I have a fix for this that I will be posting shortly.

[2015-03-16 16:45] #112 closed

[2015-03-17 05:12] weshaggard commented on #117
It looks like the temp caching is happening in https://github.com/Haacked/NuGet/blob/9f25709fafb0d8e8fc2a3b34c1b77a1cb4b8a539/src/Core/Packages/OptimizedZipPackage.cs. So it would appear that @eatdrinksleepcode fix should work nicely for this issue.

[2015-03-17 06:06] #117 closed

[2015-03-25 19:46] #60 closed

[2015-03-25 21:02] eatdrinksleepcode commented on #92
This can be closed (via #116).

[2015-03-25 21:18] eatdrinksleepcode opened #125 "BuildTools tests"
There are no tests in the BuildTools repo. The Tasks project could use tests both for the custom tasks themselves, as well as the targets files (e.g. importing all of the targets into a master build file and at least ensuring that they parse correctly). I haven't looked enough at the other projects in the repo to know what kinds of tests would be appropriate, but they do contain non-trivial logic

[2015-03-25 21:20] weshaggard commented on #92
Yes thanks.

[2015-03-25 21:20] #92 closed

[2015-03-26 00:46] weshaggard commented on #125
Yes this is something that I think needs to be done as well it just hasn't come to the top of the list yet. Thanks for filing the issue however. My basic thoughts here are that we should have a template repo layout that consumes the build tools and does some basic validation.

[2015-03-26 14:49] eatdrinksleepcode commented on #125
I agree, a template repo would be useful both for testing and for demonstrating the expected usage of the build tools to consuming projects. I would be interested in helping out with that.

[2015-03-26 16:07] weshaggard commented on #125
@eatdrinksleepcode That would be awesome if you wanted to put that together. We will put you down as working on that.

[2015-04-01 19:56] eatdrinksleepcode opened #132 "Support testing against full framework"
BuildTools currently only supports testing against Core. However, Microsoft.DotNet.Build.Tasks is built against the full framework, and must continue to be at least until MSBuild is available for Core. Therefore the corresponding unit test project must also be built and run against the full framework. In order for BuildTools to continue dogfooding itself, it must support testing against the full f

[2015-04-03 18:37] weshaggard commented on #132
I do think we will need to support running tests on multiple frameworks, at least CoreCLR, Full framework, and eventually .NET Native. So I like some flavor of 1 where we allow the appropriate properties to be overridden. I suspect the best place to override them would be in the metadata of the TestTargetFramework item group.

[2015-04-15 18:41] ericstj opened #139 "BuildTools should default to a different TFM"
The TFM we use today is bogus.  It's the PCL TFM for net45+win8.  We should be using a TFM that is more appropriate for what we are building.  I suspect this will be the new TFM created for "package based portable" once it exists.  Right now this issue is blocked on PCL work in Dev14.

[2015-05-06 16:26] mmitche opened #157 "Use nuget package resolution to resolve opencover and reportgenerator paths"
We should avoid hardcoding the paths and version of these tools in our targets.  See #156 for a place where we had to fix this.  Also @ericstj comment about an example to use as a model.

[2015-05-24 14:37] ghost opened #169 "Release Microsoft.DotNet.BuildTools-1.0.16-prerelease on GitHub"
Please release Microsoft.DotNet.BuildTools-1.0.16-prerelease on GitHub. Currently it is available on Nuget.org: http://nuget.org/packages/Microsoft.DotNet.BuildTools, but not in GitHub releases: https://github.com/dotnet/buildtools/releases.
Thanks.

[2015-05-26 18:07] weshaggard commented on #169
@jasonwilliams200OK, may I ask why you are wanting that? We have many release post 16 that we have only been publishing to our myget feed.

[2015-05-26 19:22] jasonwilliams200OK commented on #169
Mostly for the GH repository watchers who are interested in semver'd / tagged releases.
And why not, I mean it is just a matter of pushing `git tag 1.0.1.6-prerelease && git push --tags` and selecting the tag for release: https://github.com/dotnet/buildtools/releases/new.

[2015-05-26 20:25] weshaggard commented on #169
@jhendrixMSFT Is this something on your radar as part of our release process?

[2015-05-27 22:19] jhendrixMSFT commented on #169
I've added it to the list, thanks for bringing this to my attention.

[2015-06-03 19:46] akoeplinger opened #173 "MS.DotNet.Build.Tasks.dll references MSBuild 4.0, causing Mono's implementation to be loaded when building corefx"
I just tried building corefx with the new Mono 4.0.1SR1 (it backports a fix that made us require >= Mono 4.1). However, it now complains about not having `StandardOutputImportance` parameter for a Task when building the tests, which is odd because we're using the open-sourced MSBuild which has those (Mono has them too on >= 4.1).

From my observation the issue is that the custom task project in th

[2015-06-18 16:22] nguerrera opened #181 "VS debugging experience broken"
CopyTestToTestDirectory now only happens when the RunTestsForProject target is invoked. This broke the VS flow where build got everything ready and F5 could debug. Now I can only debug in VS if I run the tests on the command line first to copy the right files.

[2015-06-18 18:56] nguerrera opened #182 "Copying of test assets should resolve to highest package version."
Currently, in the CopyTestsToTestDirectories target, we sometimes end up with the same dll from different package versions (I believe this happens when product dependencies outpace the coreclr/buildtool package dependencies but I did not confirm). Right now,  we just arbitrarily copy the last one in the list over the previous ones with the same file name. In addition to not being very well defined

[2015-06-18 18:58] nguerrera commented on #182
I'm making a tactical fix for the SkipCopyUnchangedFiles issues, but the root issue will still need to be addressed.

[2015-07-01 04:38] eatdrinksleepcode commented on #181
Yes, CopyTestToTestDirectory was changed to only happen when RunTestsForProject is invoked. This was to speed up incremental command line builds.

Not being able to re-use our MSBuild tasks for running tests in Visual Studio is unfortunately very limiting. It seems we have four options:

1) Optimize for the command line, only copy files when they are needed for the targets that have been invoked b

[2015-07-01 18:54] ellismg opened #187 "Need a way to build (but not run) tests for a different platform."
Today test build and execution are intertwined.  This means if I have tests with platform specific code (at build time) it's not easy for me to build them on a different platform than I would run them on.

We should enable this.  CoreFX could then use this to build Linux and OSX versions of the tests instead of always using the windows versions when running cross platform.

[2015-07-01 19:51] KevinH-MS opened #188 "Unable to build BuildTools (can't restore Microsoft.DotNet.BuildTools)..."
![capture](https://cloud.githubusercontent.com/assets/6464209/8463502/8c916446-1fef-11e5-9a03-278b641ebebe.PNG)

I notice that the nuget (http://www.nuget.org/packages/Microsoft.DotNet.BuildTools) has been delisted...

Any ideas what I'm doing wrong?

[2015-07-01 19:54] KevinH-MS commented on #188
Tagging @ellismg and @nguerrera in case you have any thoughts...

[2015-07-01 20:31] KevinH-MS commented on #188
Hmmm...must have been a problem with nuget or my network connection.  I tried building again just now, and it failed with a socket exception.  I tried a few minutes later and build succeeded... :disappointed_relieved:

[2015-07-01 20:31] #188 closed

[2015-07-01 23:45] nguerrera commented on #181
I have a version of #2 pending that in combination with smarter incremental copy and hard-linking is pretty darn fast. PR to follow...

[2015-07-02 15:20] nguerrera commented on #187
Does #189 help or hurt with this?

[2015-07-02 16:50] #181 closed

[2015-07-02 16:52] #132 closed

[2015-07-08 23:53] agocke opened #191 "BuildTools can cause VS 2015 to deadlock in the design-time build when loading a project that uses them"
Roslyn uses the buildtools for core-clr projects and we've found that VS 2015 deadlocks while running the dnx.exe binary continuously in the background when loading a project that imports the buildtools targets. Try opening https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/CscCore/CscCore.csproj in VS 2015 for a repro of the issue.

[2015-07-12 02:06] nguerrera opened #192 "Make buildtools defer to built-in nuget package resolution when available"
The buildtools resolution of nuget assets was a bootstrapping mechanism as we got things to build with the .NET Core packages pending official support. Once the official support is broadly available, we should change the targets to detect this and use the built-in targets wherever possible.

I'm currently preparing a temporary hack to rename some things such that buildtools does not conflict with

[2015-07-12 02:17] nguerrera commented on #191
Hitting this with corefx too. I think doing #192 would address this.

[2015-07-14 01:55] ellismg commented on #187
@nguerrera I am not sure.  It seems like we should be able to leverage the CopyTestToTestDirectory target, but I do not fully understand how the infrastructure works.  I had thought doing something like:

[code]

Would both build the test and construct the test directory, but it would appear that while the copy step moves over the dependencies, it doesn't copy the test itself.

[2015-07-16 18:47] #191 closed

[2015-07-16 20:23] agocke commented on #191
@JeremyKuhne When can I expect a build with these changes?

[2015-07-16 20:25] JeremyKuhne commented on #191
@agocke Build 48 has dropped and has the change.

[2015-07-16 20:26] agocke commented on #191
@JeremyKuhne Great, thanks!

[2015-07-16 20:45] JeremyKuhne commented on #191
Er, sorry, mistyped- 58 :)

[2015-07-16 21:39] mellinoe opened #195 "Buildtools has an outdated build process"
Currently, we're using a really old version of buildtools, and the .NET Core Xunit assemblies we build in this repo are building against very old versions of our NuGet packages (very different from the latest packages), and are still using packages.config files. We should update these to be in line with corefx.

[2015-07-17 00:50] akoeplinger opened #197 "Recent buildtools update broke building corefx on Linux"
In https://github.com/dotnet/buildtools/commit/2343d6f36d96970b97cea6f210db90d54d2f7183 the Copy task in publishtest.targets was set to `UseHardlinksIfPossible="true"`. However, the xplat MSBuild doesn't implement hardlinks in a cross-platform way currently (it just pinvokes into CreateHardlink Windows API), so this crashes on !Windows.

We should probably check for the OS in publishtest.targets a

[2015-07-17 16:13] akoeplinger commented on #197
I implemented hardlink support in xplat MSBuild with https://github.com/Microsoft/msbuild/pull/132.

[2015-07-17 23:40] mellinoe opened #200 "Minimize the set of targets and properties needed to consume buildtools"
Over time, we have increased the amount of settings and configuration needed to get a blank project building with the buildtools package. From the https://github.com/dotnet/corefx repo, the following msbuild files are all needed to build, or exist because of workarounds on various platforms, etc:
- build.proj
- dir.props
- dir.targets
- dir.traversal.targets
- mono.targets
- override.targets
- ros

[2015-07-20 17:53] ericstj commented on #195
I'd like to fix this with https://github.com/dotnet/corefx/issues/2427 instead

[2015-07-20 17:54] ericstj opened #202 "Fail the build if project.json contains * versions and lock file is not locked."

[2015-07-20 22:40] nguerrera commented on #197
@akoeplinger Thanks! Can we close this in that case?

[2015-07-20 22:46] akoeplinger commented on #197
@nguerrera I'd prefer to keep this open until the issue is fixed, i.e. after my PR to msbuild is merged and an updated version used in buildtools here :)

[2015-07-21 00:10] JeremyKuhne commented on #197
I don't expect we'll get an updated package any time soon- we should probably add the condition here pending that to unblock the build.

[2015-07-21 01:39] mellinoe commented on #195
Did you mean to close this? I'm fine with making the same improvement to both repos if that's what we intend to do.

[2015-07-21 11:18] akoeplinger commented on #197
Sure, whatever gets me a working buildtools is fine :)

[2015-07-21 15:53] weshaggard commented on #195
Given @JeremyKuhne reverted your update @mellinoe we should reopen this issue. I think @ericstj is referring to a more general update away from dnx and less of you intended with this issue which is to update the buildtools repo itself to use the latest buildtools.

[2015-07-21 18:25] mellinoe commented on #195
Sounds good to me. I think it makes sense to get this repo on the latest buildtools, because then when we make improvements to corefx's build process, we can just apply them here as well, instead of having to jump straight from this old build process.

[2015-07-21 21:02] mellinoe commented on #195
#205 merged and the official build went through fine. This particular issue (being on an old version of buildtools) should be resolved now.

[2015-07-21 21:02] #195 closed

[2015-07-21 21:47] weshaggard commented on #195
@mellinoe Have you tried the new build against CoreFX to ensure everything still works as expected?

[2015-07-22 00:55] mellinoe commented on #195
CoreFx is already on the new tools and hasn't hit any issues so far. There aren't really any functional changes here, other than possibly the fact that we are using new packages as opposed to the months-old ones.

[2015-07-22 22:30] #197 closed

[2015-07-23 00:30] weshaggard commented on #197
@nguerrera Do we want to keep this issue open to track getting this re-enabled for x-plat builds?

[2015-07-23 11:34] akoeplinger opened #209 "Reenable hardlink support for xplat build"
See https://github.com/dotnet/buildtools/issues/197 and https://github.com/dotnet/buildtools/pull/208.

Remaining tasks for reenabling hardlinks on xplat builds:
- [x] https://github.com/Microsoft/msbuild/pull/132
- [ ] Publish new MSBuild package containing the above fix and use it in corefx etc

[2015-07-23 11:34] akoeplinger commented on #197
@weshaggard I filed a new issue tracking this: #209

[2015-07-24 21:57] bartonjs opened #210 "Testing: Should 'UnsupportedPlatforms' instead/also be 'SupportedPlatforms'?"
We have a couple of Windows-only libraries:
* System.Security.Principal.Windows
* System.Security.Cryptography.Csp
* System.Security.Cryptography.Cng
* Probably others
and each of these libraries has to mark their tests as
[code]
When we define a new platform (e.g. FreeBSD) all of these test libraries are going to have to be touched to say that they won't support it.

For something which is a comm

[2015-07-24 22:59] stephentoub commented on #210
I actually question whether we need this mechanism at all.  We already have ```[PlatformSpecific(...)]``` and ```[ActiveIssue(..., PlatformID.*)]```.  If we were to just make small tweaks to those such that they could be applied/respected at the assembly/class/method level instead of just at the method level, then we could put ```[assembly: PlatformSpecific(PlatformID.Windows)]``` on those test as

[2015-07-24 23:00] davidsh commented on #210
+1 to @stephentoub suggestion.

[2015-07-24 23:10] bartonjs commented on #210
Assuming that works, I'd be happy with that answer.  My hesitant concern is that the platform-specific-ness might be something which would cause reflection to fail and xUnit might not handle that gracefully.

Really I just want a way to express an opt-in model :smile:.

[2015-07-30 23:21] akoeplinger commented on #209
Now that Microsoft/msbuild#132 is merged, we'll need a new version of the msbuild-mono package published on myget.
/cc @nguerrera @JeremyKuhne

[2015-08-04 07:36] ellismg opened #221 "Use x64 runtime for tests"
Today project.lock.json and some of our targets force a 32 bit runtime when running tests.  I think we should move this to x64.  This aligns with what we are doing cross platform and will make it easies to produce runtime packages from github (where we don't have an x64 version of the runtime).

Are there any concerns about adopting a x64 bit runtime?

/cc @mellinoe @weshaggard @ericstj @stephento

[2015-08-04 18:17] stephentoub opened #222 "Building buildtools generates warning about bad image"
[code]

[2015-08-05 02:06] weshaggard commented on #221
I suspect we could go either direction as we need to also have support for x86 coreclr in the builds on github.

However I don't have any particular concerns with supporting this as I think we need to eventually support both. It is just a matter of figuring out what all needs to happen to build out that support.

[2015-08-06 00:25] mellinoe commented on #221
I think it probably makes more sense to just zip all of the stuff into an actual NuGet package and just download that for our tests, rather than have a checked-in json file that we restore. We could then just have an "x86" version, an "x64" version, an "ARM" version, etc. for our different test configurations. Then we would copy stuff over top of it like we do now and run it as usual. That would a

[2015-08-06 04:44] ellismg commented on #221
@mellinoe I think I agree with your high level goals.  The place I would like to land is that the runtime we test on is independent of build tools and the nuget package for it is a nuget package we can build out of dotnet/coreclr.  We can't do the second thing yet today, but we should design a system such that once we are able to produce the runtime package for third parties it's the same package

[2015-08-07 23:55] #221 closed

[2015-08-10 20:16] mellinoe opened #228 "Create Cross-Plat Versions of GenFacades"
Right now, we are only producing a Windows version of GenFacades. When we have cross-plat NuGet packages to consume, we should be able to add additional build configurations for other platforms.

[2015-08-10 20:17] mellinoe opened #229 "Open-Source ApiCompat"
As we bring up our contract/reference assembly build here, we should think about where ApiCompat comes into play and work towards open-sourcing it if we are going to need to use it cross-plat.

[2015-08-12 21:58] ericstj opened #231 "AssemblyInfo.cs path clash"
https://github.com/dotnet/buildtools/pull/226 moved AssemblyInfo.cs to a path that can be common if projects have the same name.  I hit this in the reference assembly projects and worked around it.  I think the right fix here is to split out just the attributes needed by https://github.com/dotnet/buildtools/pull/217 and make those in a stable path that is shown in solution explorer.  Ideally you c

[2015-08-14 00:08] mellinoe opened #236 "xunit.netcore.extensions should declare its dependency on RuntimeInformation"
A recent change switched us to using this contract in the xunit.netcore.extensions assembly, but we didn't add the dependency to the NuGet package, so users of the package will have to add it themselves after they see the error.

[2015-08-14 00:08] mellinoe commented on #236
(Along with this, we should probably switch over to stable versioning for these)

[2015-08-14 22:50] mellinoe commented on #236
Fixed by #242

[2015-08-14 22:50] #236 closed

[2015-08-16 01:13] stephentoub opened #244 "Switch to official xunit console runner"
The xunit netcore console runner has drifted significantly from the full xunit console runner.  We should work with the xunit team to incorporate whatever changes are necessary to support .NET Core, and then adopt the official runner in build tools rather than having a forked runner.

[2015-08-21 17:58] mellinoe opened #246 "Test targets don't copy satellite resource assemblies"
It seems like our current test targets (or perhaps resource targets) don't copy over satellite resource assemblies for other languages, if they exist. I could take a stab at this if someone pointed me to where the fix should be made. I mainly wanted this so I could add some tests to ResourceManager that tried grabbing strings from other languages than the default.

[2015-08-27 16:11] ericstj opened #249 "BuildTools should not have any package dependencies on non-tools packages"
BuildTools is a tools package, it should never be referenced by projects.  As such, having dependencies on packages other than other tools packages makes no sense.  Build tools can't possibly consume those.

[2015-08-31 22:30] mellinoe commented on #244
I was hoping we could easily update ourselves, but there are a lot of things that need to be changed in the official runner to make it compatible with .NET Core. Just a few to start:

* System.Configuration dependency, not supported at all in .NET Core
* Assembly loading
* Old reflection usage (some non-replacable, like Assembly.Load(path), Assembly.GetExecutingAssembly, Assembly.CodeBase, etc., o

[2015-09-03 04:08] pharring opened #253 "Delete Microsoft.DotNet.PerfTools"
I was talking to @jhendrixMSFT today and we both agreed that Microsoft.DotNet.PerfTools should be deleted from this repo (now that we know it will be replaced with xunit.performance).

[2015-09-09 21:34] naamunds commented on #231
Fixed by https://github.com/dotnet/buildtools/commit/5b053072daed9abc674508acbe72f0bf5e069034 and https://github.com/dotnet/buildtools/commit/d4509423b630bacd446237241dadfe60710af9ec and https://github.com/dotnet/corefx/commit/1b8334fc397eef0ab0d811caff22f2eb731bfdbd.

I've verified the fix by successfully building "corefx\src\Microsoft.CSharp\ref\Microsoft.CSharp.csproj" and by verifying that the

[2015-09-09 21:34] #231 closed

[2015-09-15 17:33] brthor opened #262 "IL.targets fails for IL Projects with multiple Compile Items"
In the exec task, all of the compile items get listed with semicolons between them.

It should be as simple as turning this:
@(Compile)

Into this:
@(Compile, ' ')

[2015-09-15 23:01] weshaggard commented on #262
@brthor please feel free to go ahead and submit a PR.

[2015-09-17 01:40] #262 closed

[2015-09-17 15:34] pgavlin commented on #228
@weshaggard has there been any progress on this? If we have something that even sort-of works, I'd be happy to test things out locally.

[2015-09-17 15:52] pgavlin commented on #228
Are the packages the only thing that's blocking the cross-plat work? If you can provide a version of GenFacades that runs on .NET Core but does not yet work cross-platform due to the package issues, I can put together the layout myself on my machines.

[2015-09-17 16:01] pgavlin commented on #228
Excellent; thanks!

[2015-09-17 16:10] weshaggard commented on #228
Yes @dotnet-bot is correct :)

[2015-09-17 19:33] #253 closed

[2015-09-18 16:38] nguerrera opened #274 "GenFacades should not emit nested exported type entries if the nested type is not visible outside the assembly"
See [Program.cs#L488](https://github.com/dotnet/buildtools/blob/4607a6f4036458006ed5ca232236bcf345c9b64c/src/GenFacades/Program.cs#L488)

We replicated the behavior of csc.exe at the time. However, some tools get upset when they find an exported type entry that can't resolve even if there is no actual use of the entry encountered. Those tools should be hardened appropriately, but we might as well

[2015-09-18 16:41] joperezr commented on #274
@nguerrera Thanks for filing the issue, I'll fix this.

[2015-09-18 16:42] nguerrera commented on #274
Thanks. I can't assign it to you for some reason, so please assign yourself.

[2015-09-18 16:46] nguerrera commented on #274
cc @weshaggard

[2015-09-23 03:28] ellismg opened #286 "Should ToolRuntime be deployed to obj, not bin?"
Today the runtime to run our tools under gets deployed to a ToolRuntime folder in `$(BaseOutputPath)\$(OSPlatformConfig)`, I think that `$(IntermediateOutputRootPath)` (e.g. `bin\obj\Linux.AnyCPU.Debug`) is a better place for it.  What do you think @weshaggard?

[2015-09-23 15:10] weshaggard commented on #286
@ellismg I put it under bin because that is where we deploy the test-runtime as well, however I don't have a strong opinion about this. What benefits do you feel intermediate has over bin?

[2015-09-25 17:40] dsplaisted opened #287 "Remove aspnetcore50 folder from xunit.console.netcore NuGet package"
The aspnetcore50 TFM is obsolete.  We should remove it from the xunit.console.netcore NuGet package and update [test.targets](https://github.com/dotnet/buildtools/blob/65d93460c83bdcabfc1c0e53ff74f1f344cafa47/src/Microsoft.DotNet.Build.Tasks/Targets/tests.targets#L47) to refer to a different folder.

[2015-09-25 20:05] akoeplinger commented on #287
There are also a couple of [ASPNETCORE50 ifdefs](https://github.com/dotnet/buildtools/search?utf8=%E2%9C%93&q=aspnetcore50) that probably aren't required anymore.

[2015-09-26 03:37] ellismg commented on #286
My preference is that things produced by the build are in bin and things used to produce the build are in obj.  I think both the tools and test runtime should be in obj (and for now when we build out the tests folders for each test, we continue to copy the test runtime into there).

[2015-09-28 16:28] weshaggard commented on #286
I'm cool with this. I will try to get this this at some point but feel free to submit a PR.

[2015-09-29 22:33] pgavlin opened #292 "Microsoft.DotNet.BuildTools.1.0.25-prerelease-00097 is broken on Linux"
...at least on non-Ubuntu distros: an incorrect tool runtime is being deployed, which causes `chmod a+x <ToolRuntimePath>/corerun` to fail.

[2015-09-30 00:46] #292 closed

[2015-09-30 07:53] jasonwilliams200OK commented on #292
I am hitting the same issue on FreeBSD, when rehearsing dotnet/coreclr#1633 with CoreFX master.

Thanks for the fix @ellismg! Should we instead pursue to make the name consistent: `corerun` vs. `corerun.exe` vs `CoreRun.exe`? For example I am getting:

  Restoring all packages...
  chmod: /root/corefx/bin/FreeBSD.AnyCPU.Debug/ToolRuntime//corerun: No such file or directory
/root/corefx/packages/Mi

[2015-10-03 13:49] jasonwilliams200OK opened #300 "TemporaryTestHost for CoreFX on FreeBSD"
Currently to run the tests on FreeBSD, one of the stoppers is TemporaryTestHost. We tried building with Linux test-host, but it fails all the tests as discussed here https://github.com/dotnet/coreclr/issues/1633#issuecomment-143669303. The error message when using linux temporary host is:

[code]

Please make the buildtools available for FreeBSD at:
https://www.myget.org/F/dotnet-buildtools/api/v2

[2015-10-07 19:54] mellinoe commented on #286
Just wanted to add my support for this. I'd like if everything under bin/* were actual product binaries. It would even be nice to split test binaries and framework product binaries into separate directories.

[2015-10-07 23:30] joperezr commented on #286
I'll do this now since I need it as part of consuming the new version of buildtools from the coreclr repo. Will send PR soon.

[2015-10-08 07:07] ellismg commented on #300
After my run-tests.sh work, this is no longer needed.

[2015-10-08 07:07] #300 closed

[2015-10-08 07:25] jasonwilliams200OK commented on #300
Thanks @ellismg ! :+1:
Forgot to close this issue.

[2015-10-12 15:23] #249 closed

[2015-10-12 20:39] #286 closed

[2015-10-13 18:31] joperezr commented on #274
Closed with #275

[2015-10-13 18:31] #274 closed

[2015-10-14 17:42] mellinoe opened #310 "Use Console.WindowWidth/Height in the (.NET Core) CommandLine helper"
Now that this is supported in the portable System.Console library: https://github.com/dotnet/corefx/issues/3558, we should be able to use it in the command line parsing helper. See:
https://github.com/dotnet/buildtools/blob/master/src/common/CommandLine.cs#L1705

[2015-10-21 23:59] sepidehMS opened #313 "Marking test as ActiveIssue should not always disable the test"
Currently there is no straight forward way to annotate the test with ActiveIssue without disabling it.

I have couple of tests which do not fail but test design decisions which need to be reevaluated.

I want to annotate the tests so it is easy to find them when fixing the issue but not disable them.

Currently you can workaround by using:

[code]

or hacking with Xunit's Trait attribute and passi

[2015-10-22 00:00] sepidehMS commented on #313
Should we add PlatformID.None or a new Attribute for that?

[2015-10-22 16:51] weshaggard commented on #313
Why do you want to use ActiveIssue for such cases? I would like to avoid using ActiveIssue attribute for things that aren't being disabled. I don't believe this is worth the overloading. If you want to have a marker in the code I would simply put the issue id in a comment or even link to that line in the issue itself.

[2015-10-27 22:35] ChadNedzlek opened #322 "ResolveNugetReferences needs an option to not copy files locally"
A recent change was made so that the ResolveNugetReferences now populates the ReferenceCopyLocalPaths item group.  This causes every nuget file to copied locally, with no way to prevent it.

At least one tools needs to be able to prevent that behavior, so that only the built files end up in the output directory.

A property should be created to prevent this default behavior. Perhaps SkipNugetCopyL

[2015-10-27 22:38] ChadNedzlek commented on #322
It would still be helpful if the assemblies that *would* have been copied local are saved into an ItemGroup

[2015-11-12 20:53] ianhays opened #333 "Harden relationship between perf runner versions."
There is a versioning issue that the perf msbuild targets aren't strong enough to protect against.

An average perf test project in CoreFX specifies the inclusion of "Microsoft.DotNet.Xunit.Performance" with a wildcard inclusion in its project.json. This project contains the xunit extensions required to mark a test as "Benchmark".

To actually run the perf tests as perf tests, we need the Xunit.Pe

[2015-11-13 17:11] forki opened #335 "Dependencies block in project.json vs. project.json.lock"
I'm not completely sure if I'm at the right place here so please let me know if this is the wrong repo.

I'm trying to understand the relationship between the dependencies block in project.json and the project.json.lock file.

In https://github.com/Microsoft/visualfsharp/pull/722#issuecomment-156483822 I have a build that has existing project.json.lock files but I removed the dependencies block fr

[2015-11-13 18:06] forki commented on #335
just looked into the source. seems it's the wrong repo. sorry

[2015-11-13 18:06] #335 closed

[2015-11-17 02:33] cdmihai opened #337 "PrereleaseResolveNuGetPackageAssets throws a null pointer exception on OSX when Log.LogErrorFromResources is called"
Under OSX the following line:

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PrereleaseResolveNuGetPackageAssets.cs#L169

Throws this exception:

[code]

This seems to be caused by the MSBuild logger for not finding the Strings resources

I am using `<package id="Microsoft.DotNet.BuildTools" version="1.0.25-prerelease-00120" />`

[2015-11-30 22:52] ericstj opened #343 "CopyTestToTestDirectory ignores subdirectories"
Items that have a relative path are all copied to the same directory due to CopyTestToTestDirectory ignoring targetpath information of items.

It also removes items that have the same name but different directories.

[2015-12-04 18:29] billwert opened #355 "Const enums are missing a cast"
This code:

[code]

Turns into this code:

[code]

Which of course doesn't compile.

[2015-12-05 09:12] weshaggard commented on #355
Can you be more specific about what this bug is referring to? Is this a bug with GenAPI/Microsoft.CCI.Extensions?

[2015-12-06 05:47] billwert commented on #355
Ah, sorry. Not sure where the bug is specifically. I hit it through GenApi.exe.

[2015-12-06 06:03] krwq commented on #355
I believe this is what they mean:
[code]

[2015-12-06 06:19] billwert commented on #355
Yes.

[2015-12-10 21:46] livarcocc opened #364 "Add an unzip task to the .NET build tools"
We can use it to unzip the dotnet cli.

[2015-12-10 21:56] joperezr commented on #364
This wouldn't be super helpful once we move into using .NetCore MSBuild, because when that happens, we will need dotnet cli to restore msbuild and wouldn't be able to run a task before that.

[2015-12-10 23:18] livarcocc commented on #364
How are you planing to unzip the package you will get for the cli? For mac and linux that easy, just use tar, but for windows I am not aware of a command line to do that. For corefxlab I have a task to do that using System.IO.Compression.FileSystem.ZipFile. However, over there, we use msbuild and then dotnet cli to restore/compile/publish projects.

[2015-12-10 23:48] joperezr commented on #364
For now we are calling into a powershell cmdlet to do that in windows. This is the line we have:
[code]

This is called from our build.cmd. As I said, my previous comment was very specific to corefx repo, if different repos are not planning on moving to .NetCore msbuild then I guess that a Task in buildtools would be usefull.

[2015-12-15 00:11] ericstj opened #366 "BuildTools packaging work"
Remaining from https://github.com/dotnet/buildtools/pull/351
- [ ] Enable build of nuspecs using coreCLR (requires NuGet API)
- [x] Pack nuspecs
- [ ] Integrate with @weshaggard's build refactoring
- [x] Docs

[2015-12-17 00:17] ericstj commented on #366
Docs completed with https://github.com/dotnet/corefx/pull/5013.

[2015-12-17 00:18] ericstj commented on #366
Pack PR available: https://github.com/dotnet/buildtools/pull/369

[2015-12-17 14:53] ericstj opened #370 "Validate API version of references"
A common problem across the repo today is folks building against newer references than are actually needed.  For instance, there are no API changes between 4.0.0 and 4.0.1 but folks build against and depend on the 4.0.1 package.

We should introduce validation to prevent this.

Additionally, we should avoid reshipping packages with no changes if they only contain reference assemblies.  I'm looking

[2015-12-21 22:29] ericstj commented on #337
This looks to me like a mono bug.  I think any call to TaskLoggingHelper.LogErrorFromResources(string, object[]) will call TaskLoggingHelper.LogErrorFromResources(null, ...), then that method will call GetString(subcategoryResourceName = null);.

/cc @migueldeicaza

[2015-12-29 19:46] bartonjs opened #379 "GenAPI doesn't add "new" keyword on members when required."
I don't know if this requires a cross-assembly inheritance, or what, but i encountered it when rebuilding the contract for System.Security.Principal.Windows:

[code]

When producing the new contract.cs file GenAPI emitted the latter without the keyword `new`, resulting in a compile error.

[2016-01-05 18:17] roncain opened #381 "MSBuild Exec of $(DnuRestoreCommand) should capture and report stdout and stderr if fails"
Currently, any failure in package restore only says dnu.cmd exited with code -1, which is not useful for debugging what failed.  We see these failures in CI logs and have no idea what happened. The Exec task supports capturing console output, so the .targets files that Exec dnu.cmd should be updated to log any failure messages if dnu.cmd fails.

[2016-01-05 19:02] bartonjs opened #382 "Packaging: There is no "public" equivalent to Dependency for pre-release extra references"
When a project reference can be made to a prerelease package (from another package) the version gets correctly built with the prerelease versioning stamp.

For manually encoded dependencies, registering a `_FilePackageReference` will accomplish this goal, but with the underscore prefix it suggests it wasn't intended for direct use.

@ericstj asked me to file this to be able to avoid using _FilePac

[2016-01-07 18:50] mellinoe commented on #228
This is done.

[2016-01-07 18:50] #228 closed

[2016-01-09 19:14] ratishphilip opened #387 "Best method to compile the output CS file generated by GenAPI"
What is the best method to compile the .CS file which is generated by the **Microsoft.DotNet.BuildTools.GenAPI** package?
I need to place the generated DLL in the **Ref** folder of the my NuGet package.

[2016-01-10 09:19] weshaggard commented on #387
In corefx repo we generate it manually on demand and commit it to source control as opposed to generating it as part of the build.

[2016-01-10 22:35] ratishphilip commented on #387
Wouldn't it be great if the script to build it manually could be generated along with the CS file?

[2016-01-10 23:00] weshaggard commented on #387
There is an example build target that calls it https://github.com/dotnet/buildtools/blob/master/src/GenAPI.Desktop/Microsoft.DotNet.BuildTools.GenAPI.targets, not sure if that is along the lines of what you are looking for or not.

I assume by script you mean the csproj? There are just too many build systems to be able to generate a script that would work generically.

Also as for generating it au

[2016-01-10 23:52] ratishphilip commented on #387
I meant a command line script using csc.exe which when executed would build the .cs file(s). This script would include all the required references.

[2016-01-11 00:25] weshaggard commented on #387
Even to have a command line script it would need to know where to find the reference assemblies to pass for the references, as those will be different depending on your build environment. If you were to write a post target for the actual build of the library you are running GenAPI on you could potentially reuse those references but GenAPI itself has no idea where to find those reference assemblies

[2016-01-13 03:32] #387 closed

[2016-01-16 02:01] Clockwork-Muse opened #398 "By default, only download the runtime of the host platform"
...and potentially only matching packages too.

With the release of the new build tools, it now downloads the runtimes into the Tools directory.  Unfortunately, it downloads **all** of them, even if they're never going to be used.

I would imagine most of us are building and running on the same platform, and only one at that.  Those of us building and running on more than one are also most likely

[2016-01-18 08:10] weshaggard commented on #398
@Clockwork-Muse can you point out which runtime files you are referring too here? I wouldn't expect us to be download/creating a tool-runtime for any OS other then the one we are running on.

[2016-01-18 08:54] Clockwork-Muse commented on #398
@weshaggard - strange, I can't find them now.  Looks like it might have resolved itself - I re-cloned the project and rebuilt the tools directory as part of trying to get things working for me again.

Sorry, I should have included a list of things it was attempting to download.  I can't remember where it was they were ending up, but it was attempting to grab package `runtime.ubuntu.14.04-x64-Micro

[2016-01-18 18:26] weshaggard commented on #398
Perhaps there was an intermittent state but I wouldn't have expected us to be downloading that on windows. If you see us doing something strange like that again please capture what you are seeing and I can take a deeper look.

[2016-01-18 18:26] #398 closed

[2016-01-19 01:08] weshaggard opened #401 "ValidatePackage task doesn't fail the build when it fails"
@ericstj ValidatePackage task doesn't fail the build when it fails. See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1117/consoleFull as an example where the package validation failed but the exit code of msbuild was 0.

[2016-01-19 15:43] dagood opened #402 "Remove project.json * dependencies and lockfiles"
Like what's been done for corefx (https://github.com/dotnet/corefx/pull/4894) and wcf, we need to remove floating dependencies and lockfiles in buildtools, replacing them with version validation.

[2016-01-22 22:33] bryanar opened #406 "Ignore me - Test Issue"
Just pretend I am not here. This is just a test issue.

[2016-01-22 22:35] #406 closed

[2016-01-26 18:57] #364 closed

[2016-01-27 16:33] joperezr opened #413 "Remove tool-runtime project.json and move all of those dependencies into the package declared dependencies."
Currently we restore the runtime for the build tools package by restoring a specific project.json inside the package. What we want to do, is to change this such that the package itself should declare the runtime dependencies and we should remove that project.json.

The steps required for this are:
- [x] In BuildTools repo: Move dependencies from tool-runtime.project.json into the BuildTools packag

[2016-01-27 16:38] joperezr opened #414 "Move the portable targets dependency with the rest of the runtime dependencies once dotnet cli supports content files"
Currently the CLI doesn't support content files so we need a workaround to manually copy some folders and files into the build tools runtime. Once dotnet supports them, we should remove this workaround.

[2016-01-27 16:39] joperezr commented on #414
This work is currently blocked until dotnet cli supports content files.

[2016-01-27 17:10] weshaggard commented on #414
@joperezr can you link against the CLI issue.

[2016-01-27 17:15] joperezr commented on #414
I'm not sure if it is exactly what we need, but there is this existing issue dotnet/cli#66 which is currently in progress.

[2016-01-31 02:18] CppStars opened #424 "Why do some nuget packages have netcore50 and dnxcore50 but not dotnet5.X"
Some packages like System.Dynamic.Runtime don't have the dotnet5.4 package in libs, have have a ref and in libs it is only dnxcore50 and netcore50

Can you explain this discrepancy?

[2016-02-01 12:14] ellismg commented on #187
/p:SkipTests does this.

[2016-02-01 12:14] #187 closed

[2016-02-02 06:33] ericstj commented on #424
We're just in the middle of moving things to choose defaults and package those as "dotnet".  In most cases we try to package one implementation as the default and then special case the other, the goal being that a future TFM can ideally use the default.

Expect by the next RC that any package applicable to both NETCore and DNXCore has one asset packaged as DotNet.  This is part of the work planned

[2016-02-02 21:37] chcosta opened #429 "Package validation misses when assembly is inbox and claimed to be not supported"
opened by @ericstj

[2016-02-02 23:48] joperezr opened #430 "Fix no Revision Number on buildtools packages after moving away from nuget.exe"
With [my change](https://github.com/dotnet/buildtools/pull/416) for moving away from nuget.exe and using NugetPack instead, I introduced a bug where the package version does not contain a revision number any more.

[2016-02-03 19:13] venkat-raman251 opened #433 "Port changes to Microsoft.Cci.Extensions"
Update the changes from corefxTools\Microsoft.Cci.Extensions to buildTools\Microsoft.Cci.Extensions

[2016-02-04 03:28] bryanar commented on #430
Test

[2016-02-05 17:42] joperezr commented on #430
This was fixed by adding nuget.exe back. For the time being this is the plan since Nuget.exe is still required for the 'pushing' of the packages. Hopefully dotnet will support push command, so we don't depend on nuget.exe anymore.

[2016-02-05 17:42] #430 closed

[2016-02-05 22:18] ellismg opened #437 "Provide helper script for computing rid for a *NIX platform"
Everyone is doing their own thing in different ways.  We should have a common script that does the work of reading `/etc/os-release` and friends and computing a rid.

[2016-02-11 21:24] dagood commented on #402
Merged in #442.

[2016-02-11 21:24] #402 closed

[2016-02-12 01:39] rahku opened #443 "error during RestoreTestRuntimePackage"
I am getting the below error when building any test in coreclr git repo. This is happening because the path does not contain nuget.config file. nuget.config file is at F:\coreclrGit\coreclr\tests\src\nuget.config. But that is neither in path of dotnet.exe nor project.json. RestoreTestRuntimePackage target should specify the source feeds rather than relying on repo nugget.config.

RestoreTestRuntim

[2016-02-12 04:12] joperezr commented on #443
Yup, there is a trivial fix for this. I'll take care of it.

[2016-02-12 18:40] bartonjs opened #444 "There should be a shared value for the "all Unix" RID collection"
When making a package be dnxcore50/unix-only the package validation logic requires explicitly saying all of the Unix RIDs to test.

It would be good to have the list from (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L755)
[code]
be in a shared property file, so that instead of writing

[code]
one could instead write

[2016-02-12 18:42] bartonjs commented on #444
@ellismg The validator is looking for centos.7.1 -- I thought we were merging that one into rhel (which isn't validated)?  Separate issue, if so, but writing it down here made it stand out in my head.

[2016-02-12 20:03] joperezr commented on #443
@rahku I was taking a look at the code and it actually doesn't look like a bug on buildtools, the problem seems to be that you are missing [this itemgroup](https://github.com/dotnet/buildtools/blob/master/dir.props#L99) on your dir.props, and then you have to pass it in to the command like we do it [here](https://github.com/dotnet/buildtools/blob/master/dir.props#L125). I'm closing this issue sinc

[2016-02-12 20:03] #443 closed

[2016-02-15 17:00] stephentoub opened #449 "Strings.resx generating dead properties for EventSource entries"
For when generating a manifest, EventSource supports messages for each event, with text that can be written to provide a human-readable representation of the event's data.  Because this text can then be localized, these messages can be put into the .resx, and EventSource is able to pull them from the resources.  However, it pulls them directly, not via the property accessors generated into SR.cs/v

[2016-02-15 21:29] bartonjs commented on #449
Alternatively, would it make sense to have a separate resx for EventSource strings, which doesn't get generated into SR?  (Just thinking aloud)

[2016-02-15 21:32] weshaggard commented on #401
I suspect we are going to need to do something like https://github.com/dotnet/corefx/blob/master/dir.traversal.targets#L77

[2016-02-15 21:34] tarekgh commented on #449
CC @vancem

we had some old discussions before to have EventSource not using localized strings at all because all of it's data just viewed by the developers and not really the end users. it was just a legacy from the desktop having EventSource to include localized resources.

[2016-02-15 22:59] stephentoub commented on #449
Is that the desired outcome?  Most if not all of the EventSources in corefx are currently using localized mesages via Strings.resx, and I don't see any issues filed to fix them up.

[2016-02-16 17:45] tarekgh commented on #449
@stephentoub it was a mail thread discussion. I'll forward it to you.

[2016-02-16 17:53] stephentoub commented on #449
Ok.  I'm fine with moving in that direction if that's the desired outcome.  The top-level issue I wanted to raise here is that we're injecting dead code into the assemblies.

[2016-02-16 17:55] davidsh commented on #449
I don't think it is the desired outcome.  There are merits to having the strings be in a RESX file and eventually having the ability to localize them.

[2016-02-16 17:58] tarekgh commented on #449
ok, will assume we'll continue having a localized strings. I'll fix the build tools to allow marking resx entries to not generate a code for and then will assign the issue to @davidsh to clean up the resources and mark the resource entries accordingly.

[2016-02-16 18:00] stephentoub commented on #449
Would @bartonjs' suggestion work?  I'm also ok with separating the relevant resources out into a separate .resx.

[2016-02-16 18:08] tarekgh commented on #449
I am not preferring @bartonjs idea because in the VS resources targets we have some process to detect the framework libraries and avoid them to go through some specific build tasks. the detection is done through the pattern of the resources in the library. if we are going to have another .resx in the library, that can be not get merged in the UWP apps except if we are willing to change VS targets

[2016-02-16 23:47] dagood opened #451 "Add Microsoft.CCI to dependency version validation rules"
Currently the dependency validation rules don't match Microsoft.CCI, so package upgrades using the auto-update target don't affect dependencies on that package. Microsoft.CCI should probably have the same prerelease version as the other dependenices on the dotnet-core feed.

[2016-02-18 00:35] joperezr commented on #337
@cdmihai seems like this issue should not be happening anymore since we actually use dotnet cli now to restore the package assets of each project. If so, I can close out this issue unless you think otherwise.

[2016-02-18 09:16] ellismg commented on #444
@bartonjs "centos.7.1" still exists in the package graph (it just imports centos.7, which imports rhel.7), for reasons like the above.  I would like to remove it at some point since I don't think it's a real RID that could be generated by any of our tools, but this is why it both exists and still works

[2016-02-18 17:27] cdmihai commented on #337
@joperezr
Are you suggesting to replace the prerelease task with dotnet publish in order to copy in the dependencies? (basically modifying [this target](https://github.com/Microsoft/msbuild/blob/xplat/targets/LinuxDeployDependencies.proj#L88) to use dotnet publish instead of getting the assets from the resolve task and manually copying them.)

[2016-02-18 21:51] rahku opened #460 "DropURI property has incorrect value"
Below lines in CreateAzureStorage target in cloudtest.targets is not correct:

    <CreateProperty Value="$(DropUriRoot)/$(BuildArch)$(BuildType)">
      <Output TaskParameter="Value" PropertyName="DropUri" />

ListURI does not have $(BuildArch)$(BuildType) in its path. It works in corefx because they don't specify any property BuildArch and BuildType. This needs to be fixed. Coreclr does specify

[2016-02-18 22:08] joperezr commented on #337
No, I'm saying that a lot of stuff has changed in the way repos that consume build tools work, one of those changes is that we now do a batch restore of all the project.jsons at the beginning, so this task shouldn't be failing in OSX anymore. Can you still repro the issue?

[2016-02-19 00:23] jhendrixMSFT commented on #460
This has been fixed and will show up in build tools version 00172.

[2016-02-19 00:23] #460 closed

[2016-02-19 17:27] cdmihai commented on #337
It hasn't showed up in a while. I'll post back here if it does.

[2016-02-19 17:32] joperezr commented on #337
Sounds good, I'll close this issue for now since we don't have a repro anymore, but feel free to re-open it if you see it again.

[2016-02-19 17:32] #337 closed

[2016-02-20 01:18] rahku opened #467 "Make time out for tests configurable"
In cloudtest.targets there is no option to configure timeout for the tests. This is required for some of the long running tests in coreclr

       </FunctionalTest>
        <Command>$(HelixPythonPath) $(RunnerScript) --dll %(Filename).dll $(OtherRunnerScriptArgs) -- $(XunitArgs)</Command>
            <CorrelationPayloadUris>[$(CorrelationPayloadUris)]</CorrelationPayloadUris>
            <PayloadU

[2016-02-20 01:38] weshaggard opened #468 "StableVersion property should use $(Id)"
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L87

If it doesn't use Id then it will not work for runtime packages.

[2016-02-20 01:57] rahku opened #469 "ForUpload itemgroup is evaluated before Build target has finished"
[code]
Above itemgroup  should be inside target VerifyInputs so that it is evaluated after Build target has finished not before.

[2016-02-20 02:02] rahku commented on #469
WTH happened to the text above!!!

[2016-02-20 02:04] rahku commented on #469
addition to ItemGroup ForUpload from folder TestArchivesRoot should be inside VerifyInputs target and not outside

[2016-02-22 08:08] weshaggard commented on #469
The test was interpreted as html tags. I edited it and wrapped it in the code tags.

[2016-02-22 17:46] jhendrixMSFT commented on #467
Fix will appear in build tools version 00174.

[2016-02-22 17:46] #467 closed

[2016-02-22 17:46] jhendrixMSFT commented on #469
Fix will appear in build tools version 00174.

[2016-02-22 17:46] #469 closed

[2016-02-22 23:58] joperezr opened #473 "[Investigate] init-tools.cmd command is succeeding even when init-tools.log is showing errors"
Investigate why sometimes the command succeeds even though there were errors in the restore. Any error should automatically fail the command itself so that a clear error is thrown for the user.

[2016-02-22 23:59] joperezr commented on #473
cc: @weshaggard

[2016-02-23 00:00] joperezr opened #474 "init-tools is not deleting the Tools directory when a new version of the runtime should get installed."
When the BuildTools dependencies are updated, the init-tools script should delete all the contents of the tool runtime folder and then run the restore, instead of trying to restore it to the folder where the old runtime is located.

cc: @weshaggard

[2016-02-23 02:59] ellismg commented on #474
Could we consider having everything restored to /Tools be prefixed with a tool runtime version?  This would help remove the need for restoring when I move between branches that have different runtime versions.

[2016-02-23 04:46] weshaggard opened #476 "Add support for merging IBC training data into libraries"
As a optimization step a number of libraries like System.Reflection.Metadata and System.Collections.Immutable embed some IBC training data so when they get ngen'ed they will be more optimized for particular scenarios. Currently we don't have a way to do this in our open source builds which is what this issue is tracking.

[2016-02-23 17:57] rahku opened #480 "GenerateAssemblyList task writes to exisiting output file"
GenerateAssemblyList task writes to exisiting output file without deleting previous contents.

[2016-02-23 18:38] joperezr commented on #474
That is actually a good idea, @weshaggard what do you think?  The only problem I see is that you might eventually end up having a Tools folder with 10+ different versions of the buildtools which most likely you won't be using all of them. Plus it doesn't really take that long to generate the tools, but it might be something to think about.

[2016-02-23 19:26] weshaggard commented on #474
@ellismg I would like to avoid that because it adds other complications such as now needing to know the build tools version in all our msbuild targets files. That requires duplication and prevents us from actually importing common props/targets files from the tool-runtime which I really want because I want to move out a lot of the boiler-plate.

[2016-02-23 19:38] mellinoe opened #482 "GenFacades should have a dedicated MSBuild task"
I did a quick experiment to see how much faster a dedicated task would be for GenFacades rather than having to launch an entirely new process. Right now, when building System.Runtime.builds in corefx (which builds 3 facades), my machine takes about 3500 ms on the FillPartialFacade task (from a diagnostic log) out of a total 16000 ms. After switching to a dedicated build task, that number dropped t

[2016-02-23 21:56] mellinoe commented on #482
A better version which separates out the components as outlined above is here: (https://github.com/mellinoe/buildtools/tree/genfacades-task)

[2016-02-24 19:41] #474 closed

[2016-02-24 20:09] jhendrixMSFT opened #485 "ApiCompat uses floating NuGet version numbers causing build failures."
Build tools no longer builds after a recent merge to add ApiCompat tools (see https://github.com/dotnet/buildtools/pull/415).  Here's an example.

D:\git\buildtools\build.proj(38,5): error : Floating dependency detected: Microsoft.Cci 4.0.0-* in D:\git\buildtools\src\ApiCompat\project.json

[2016-02-24 20:11] jhendrixMSFT commented on #485
Here's another example.

D:\git\buildtools\build.proj(38,5): error : Dependency validation error: for System.Console 4.0.0-* in D:\git\buildtools\src/ApiCompat\project.json package prerelease is '-', but expected 'rc2-23816' for packages matching '^((System\..*)|
(Microsoft\.CSharp)|(Microsoft\.NETCore.*)|(Microsoft\.Win32\..*)|(Microsoft\.VisualBasic))(<!TestData)$'

[2016-02-24 20:37] venkat-raman251 commented on #485
Fixed #486

[2016-02-24 20:37] #485 closed

[2016-02-25 00:14] weshaggard opened #487 "Enable crossgen'ing of the tool-runtime"
Now that our tools, including Roslyn, are running on top of .NET Core we need a version of the tool-runtime that is crossgen'ed. Especially for the exe's that are started many times like csc and genfacades.

[2016-02-26 21:07] weshaggard commented on #482
I like this idea thanks for filing the work item.

[2016-03-01 22:19] gkhanna79 opened #502 "Error in init-tools.sh on Debian"
I see the following error in init-tools.sh restored from BuildTools package:

2016-03-01T22:10:15.270Z: /root/coreclr/packages/Microsoft.DotNet.BuildTools/1.0.25-prerelease-00177/lib/init-tools.sh: 38: /root/coreclr/packages/Microsoft.DotNet.BuildTools/1.0.25-prerelease-00177/lib/init-tools.sh: source: not found
2016-03-01T22:10:15.270Z: /root/coreclr/packages/Microsoft.DotNet.BuildTools/1.0.25-pr

[2016-03-01 22:26] ellismg commented on #502
We do get lucky in that the CLI that's downloaded is an Ubuntu one which runs here, but this would be good to fix up.

[2016-03-01 22:28] gkhanna79 commented on #502
I thought that was by design since CoreFX repo's init-tools.sh has the same behavior.

[2016-03-03 16:05] jasonwilliams200OK commented on #502
I think CoreFX is using `1.0.25-prerelease-00182` and the log says in CoreCLR case, it is fetching fetching `00177`. Going by the history of init-tools.sh, https://github.com/dotnet/buildtools/commits/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/init-tools.sh, it has been changed recently couple of times. Might be worth testing with `prerelease-00182`?

CoreFX: http://dotnet-ci.cloudapp.ne

[2016-03-07 20:45] dagood opened #517 "Depend on existing project model for project(.lock).json validation"
Currently we use Json.NET calls which were coded only to the scenarios I've encountered. Using an existing library that creates models from project.json files removes the logic duplication. A project model will also be more resilient to changes in the lockfile and project.json file formats.

For example, we could use `NuGet.ProjectModel` or `Microsoft.DotNet.ProjectModel`.

This needs to apply to

[2016-03-09 18:08] joperezr opened #523 "Errors in restore for init-tools scripts"
When using the new version of the dotnet cli (which in fact is the one used by our repos) the init-tools.log show the following errors:
[code]

For now, it doesn't really have an impact since restore is being done despite the errors, but we should address that by making BuildTools package dnxcore compliant.

cc: @weshaggard @dagood

[2016-03-09 22:14] dagood commented on #523
Would this be as simple as adding `netstandard1.0\_._` or `dnxcore50\_._` or something as a placeholder? They work, but I don't know if we wanted something other than a placeholder.

/cc @ericstj

[2016-03-09 22:42] ericstj commented on #523
Yeah, just add a placeholder to make nuget happy is a easy fix.

Alternatively if we can make this thing a "real" package (eg a dotnet CLI-friendly library or app) it would just work.

[2016-03-10 17:16] dagood commented on #523
Closing this because the immediate issue has a merged fix.

For making buildtools a proper library/app package, does https://github.com/dotnet/buildtools/issues/413 represent that work or is there something more that we should make a new issue for?

[2016-03-10 17:16] #523 closed

[2016-03-10 17:20] joperezr commented on #523
@dagood

That is the PR for making buildtools a proper package, but I'm still having issues in some platforms so I paused that work to focus on other things, I plan to get back at it either tomorrow or next week.

[2016-03-10 17:22] dagood commented on #523
Cool, thanks. (No hurry as far as I'm concerned, just wanted to make sure an issue exists for the change.)

[2016-03-15 23:14] venkat-raman251 opened #537 "Fix ApiCompat issues for System.Appcontext"
Remove ApiCompatBaseline.net462.txt once errors mentioned in it are resolved.

[2016-03-15 23:15] venkat-raman251 opened #538 "Fix ApiCompat issues for System.Data.Common"
Remove ApiCompatBaseline.net45.txt once errors mentioned in it are resolved.

[2016-03-15 23:16] venkat-raman251 opened #539 "Fix ApiCompat issues for System.Data.SqlClient"
Remove ApiCompatBaseline.net45.txt once errors mentioned in it are resolved.

[2016-03-15 23:17] venkat-raman251 opened #540 "Fix ApiCompat issues for System.Linq.Expressions"
Remove ApiCompatBaseline.net46.txt once errors mentioned in it are resolved.

[2016-03-15 23:21] venkat-raman251 commented on #537
Duplicate . Created #6936 in corefx

[2016-03-15 23:21] #537 closed

[2016-03-15 23:22] venkat-raman251 commented on #538
Duplicate. Created #6937 in corefx

[2016-03-15 23:22] #538 closed

[2016-03-15 23:23] venkat-raman251 commented on #539
Duplicate. Created #6938 in corefx

[2016-03-15 23:23] #539 closed

[2016-03-15 23:23] venkat-raman251 commented on #540
Duplicate. Created #6939 in corefx

[2016-03-15 23:23] #540 closed

[2016-03-19 13:17] ellismg opened #558 "init-tools.cmd/.sh per repo should be simpler."
Today, each repository has a bunch of logic in `init-tools.sh` and `init-tools.cmd` to download the correct version of dotnetcli, restore build tools and then call the stage two scripts.

This logic is starting to differ across corefx and coreclr, for no good reason.

I propose we do the following:
1. Tag our git repository with the build tools version number, each time we update it.
2. Add a file

[2016-03-19 13:17] ellismg commented on #558
/cc @dagood @weshaggard

[2016-03-19 21:59] weshaggard commented on #558
cc @joperezr

I like the general direction and completely agree with trying get the script to a point where it essentially should never need to be updated again to avoid the divergence problem.

@ellismg is this something you want to try tackling?

[2016-03-19 22:08] ellismg commented on #558
Sure.

[2016-03-19 22:46] ellismg commented on #502
The problem is that coreclr is invoking the second stage init-tools.sh with `sh` explicitly.  This may or may not be `bash`, which is what the script expects.

The fix is to not invoke the script via sh, instead just call it and let the shebang at the top of the file select bash.

There's a PR to fix this open in CoreCLR and we are discussing it.

[2016-03-21 14:49] dagood commented on #558
This discussion probably happened a long time ago, but have git submodules been considered for this? From what I understand that would also remove the need for a bootstrap bat/sh. I'll be the first to admit that they aren't the most intuitive git feature, but I'm curious if they've been considered.

[2016-03-21 15:33] weshaggard commented on #558
We have considered git sub-modules for various things (not sure if we did for this specific instance) but in general we have been very hesitate to use them because they add another layer of complexity. Whether or not that complexity matches the complexity of our init-tools I don't know but I think part of the problem is there is a fair amount of FUD around sub-modules with no one having any real e

[2016-03-21 15:41] markwilkie commented on #558
Would this be the right time to think more about sharing the script itself across platforms?  Perhaps use c# on core?  Maintaining one version for windows and another for Linux seems lame...

[2016-03-21 16:27] weshaggard commented on #558
@markwilkie not for this script as it is the lowest level and is what is boot-strapping dotnet cli. We could consider using C# for some of the higher level scripts but personally I think that might be overkill right now as my ultimate goal is that we have as little as possible in these cmd/sh scripts and most of the heavy lifting should be in the build engine (i.e msbuild in our case).

[2016-03-21 16:36] gkhanna79 commented on #502
@ellismg Where is this?

[2016-03-21 16:39] ellismg commented on #502
See here: https://github.com/dotnet/coreclr/blob/master/init-tools.sh#L110

See also the discussion in dotnet/coreclr#3830, along with my proposed patch.

[2016-03-21 17:02] dagood commented on #558
@weshaggard Ok, that makes sense. I did use submodules successfully on a team before, but it was only 4 people. Another downside is that submodules would make the TFS mirror quite a bit more complex depending on how far we wanted to support it there.

As for the general issue, I think it's a great idea to centralize and that plan looks fine to me. One thing I'm thinking we might want to add is a w

[2016-03-21 17:04] ellismg commented on #558
I think this is a great idea and I'll incorporate it.

[2016-03-21 17:34] joperezr commented on #502
@ellismg this is one of the examples of why it would be a good idea to have this init-tools scripts centralized as you suggest in dotnet/buildtools#558, so that issues like this can be fixed once for all repos in a centralized place.

[2016-03-21 17:38] joperezr commented on #558
@ellismg I like your suggestion about the centralized place. If we are planning to put this in Build tools though, will they be also part of the package? I suppose the answer is no, so that we can avoid confusion since there will now be two different init-tools.cmd and two init-tools.sh on the same repo.

[2016-03-21 17:48] ellismg commented on #558
I'd like to have init-tools.sh/cmd be the simple script that downloads bootstrap-tools.sh/cmd (which is responsible for figuring out how to get you a CLI and restoring the buildtools package, basically what "init-tools" in each repo does today) from GitHub, based on your BuildToolsVersion.txt.  bootstrap-tools does the package restore and then calls "deploy-tools" which is the logic we have [here]

[2016-03-22 02:01] stephentoub opened #563 "PlatformSpecific tests for AnyOS assemblies running incorrectly"
We're seeing tests being run for platforms they shouldn't be run for.

Specifically, it appears that the xunit command-line arguments like "-notrait category=nonwindowstests" are not being output when running the tests for platform-agnostic assemblies.  But some such assemblies do have platform-specific tests, like System.Globalization.  As a result, running those tests results in failures, becaus

[2016-03-22 14:42] stephentoub commented on #563
As an example of this causing failures:
[code]
and several tests fail because it's running tests on Windows meant only to be run on Unix.

This is the cause of some of our outerloop Windows failures right now in corefx.
cc: @joshfree, @Priya91

[2016-03-22 19:17] Priya91 commented on #563
Will take a look.

[2016-03-23 01:29] #563 closed

[2016-03-23 02:14] Priya91 opened #566 "Update packages and change desktop libs dependency to net45 from net46."
Refer [here](https://github.com/dotnet/buildtools/pull/564/files/580ed7ea9646b6684834a52c51d14062ecb30b76#r57099428)

[2016-03-23 03:56] ellismg commented on #502
Should be fixed now.

[2016-03-23 03:56] #502 closed

[2016-03-23 06:20] weshaggard commented on #468
Fixed with https://github.com/dotnet/buildtools/commit/ddaba643bd4a5df9598a722ccf8476310378c99c

[2016-03-23 06:20] #468 closed

[2016-03-23 16:04] joperezr opened #567 "Downgrade warnings are thrown on restore of tool-runtime/project.json"
[This line](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.json#L37) was added on d04044b8649eda236b1fefcff6bc3529e348cdf2 and should be removed since other dependencies need a higher version than 4.0.0 so nuget restore complains

[2016-03-23 22:48] #566 closed

[2016-03-24 15:50] #451 closed

[2016-03-24 15:51] joperezr opened #574 "Use 00022 version of MSBuild packages to get /m"
The latest MSBuild packages now support /m flag which makes builds run faster. We have to move tool-runtime/project.json to use this versions.

[2016-03-24 17:36] mellinoe commented on #574
:+1: This may also get us a fix for another issue affecting some of projects in corefx: https://github.com/Microsoft/msbuild/issues/541.

[2016-03-25 22:35] bartonjs commented on #379
@ericstj I feel like you ran into this and fixed it... true?

[2016-03-25 22:41] ericstj commented on #379
Indeed.  https://github.com/dotnet/buildtools/commit/7481a711710edf88c04058a3ce2b6368435f77db

[2016-03-25 22:43] #379 closed

[2016-03-28 16:02] #574 closed

[2016-03-28 17:24] joperezr commented on #567
Fixed with #586

[2016-03-28 17:24] #567 closed

[2016-03-30 15:43] tarekgh opened #593 "Cleanup some items in the test targets"
Wes suggested some clean up mentioned in the PR
https://github.com/dotnet/buildtools/pull/588#issuecomment-203260890

this open issue is tracking this

[2016-03-30 20:54] tarekgh opened #596 "Need to fix the test library signing when running against the desktop"
we have manually defining the property

[code]

in the csproj file to workaround the signing issue,
otherwise we'll get error cannot load the test library because it is not signed.

[2016-03-31 19:53] Priya91 opened #600 "Selectively publish net45/dnxcore50 libs in init-tools"
cc @weshaggard

[2016-03-31 19:54] weshaggard commented on #600
@joperezr I think this should align with your work to eliminate tool-runtime and only use the BuildTools package dependencies.

[2016-03-31 21:13] joperezr commented on #600
Sure, this will be addressed with my work on #413

[2016-04-05 13:14] roncain opened #610 "Support multiple conditions in [ConditionalFact]"
[ConditionalFact] currently accepts only a single member name to invoke, and if it returns 'false' provides only a canned [SKIP] message "{membername} returned false".  But in practice we have situations where multiple conditions must be met before a test can be run.  And if it is not run, we want to know which condition was not met.

I see 2 potential approaches:

1. (Preferred) Modify Conditiona

[2016-04-05 13:17] roncain commented on #610
If there is agreement this enhancement is reasonable, feel free to assign it to me.

[2016-04-05 13:18] stephentoub commented on #610
I think there's a 3rd option as well:
3. In addition to (1) and allowing the number of members to be 0 (which would translate to the condition passing), allow the body of the test to throw a particular exception and have that interpreted to mean that the test should be skipped, using the exception's message as the skip reason.  Sometimes it's easier to do the skip testing inside the method.

My pr

[2016-04-05 23:22] joperezr opened #614 "Make sure that GenerateVersionHeader creates the directory if it doesn't exist"
Today if you call GenerateVersionHeader target passing in the location where you want to create the file, the target will error if the folder you want to create it on doesn't exist. This should be handled on the target level and not on the consumer side.

cc: @weshaggard

related: dotnet/corefx#7453

[2016-04-06 21:48] ericstj opened #617 "Don't strip System.Private references from dependencies if package exists"
We strip out all System.Private references from dependencies: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L478

This causes folks who build against a System.Private package to manually sepecify the reference: https://github.com/dotnet/wcf/blob/6b79b1193b5f213cee8f93fb5fe98982c311ab1b/src/System.ServiceModel.Duplex/p

[2016-04-07 16:27] tarekgh commented on #596
@weshaggard just to tell I am not going to get into this soon. I just wanted to make sure it is ok to wait a little bit.

[2016-04-07 16:46] joperezr opened #621 ""Built By" version string in the non-Windows builds can't get the computer name or username"
We should figure out a way of getting this info in non-Windows machines.

cc: @gkhanna79

[2016-04-07 16:51] bartonjs commented on #621
[code]

[2016-04-07 16:59] joperezr commented on #621
awesome, do you know if this two commands are available in all Linux distros?

[2016-04-07 19:17] bartonjs commented on #621
They've been on every Unix system I've ever used.  And they're common enough that they're part of BusyBox.  https://busybox.net/downloads/BusyBox.html#commands

[2016-04-08 11:17] #610 closed

[2016-04-11 17:31] anurse opened #632 "Long sub-paths in Microsoft.DotNet.BuildTools"
`Microsoft.DotNet.BuildTools` has a very long sub-path in it, which makes it prone to long-path issues on Windows.

I've ended up with a path like this in my dotnet/cli clone: `C:\Users\anurse\Code\dotnet\cli\pkg\packages\Microsoft.DotNet.BuildTools\1.0.25-prerelease-00228-02\lib\portableTargets\packages\Microsoft.Portable.Targets\0.1.1-dev\contentFiles\any\any\Extensions\Microsoft\Portable\v5.0\M

[2016-04-11 17:50] joperezr commented on #632
Yes, we will basically move the restore to the top packages dir. I'll take care of this.

[2016-04-14 08:38] iamjasonp opened #637 "Code coverage results should exclude xunit.* assemblies"
When reporting code coverage, we currently include all the xunit.* assemblies with our code coverage numbers, which is skewing the percentages being reported, and not generally useful in a report which should cover just the product.

We should exclude the xunit.* assemblies from reporting.

At a glance from the [corefx Code Coverage report](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/code_

[2016-04-14 10:25] stephentoub commented on #637
Interesting.  Something must have changed very recently, as these didn't use to be included.  You can see in the report from Monday that they weren't included (http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/code_coverage_windows/221/artifact/bin/tests/coverage/index.htm), and then starting on Tuesday they are (http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/code_coverage_windows/221/artif

[2016-04-14 15:49] ericstj opened #639 "Remove baseline targets from BuildTools."
See discussion https://github.com/dotnet/buildtools/pull/638

[2016-04-17 12:17] #637 closed

[2016-04-18 01:18] ellismg commented on #210
Given the new .builds model of configuring what platforms we build things for, you basically have this as opt-in now.  We no longer use `<UnsupportedPlatforms>`, instead we just test all tests that are produced by the build and use the .builds to control if we build an assembly for a given group or not.

[2016-04-18 01:18] #210 closed

[2016-04-19 17:01] markwilkie commented on #476
Wes - I think I heard you mention this was done?

[2016-04-19 17:50] weshaggard commented on #476
Yes @AlexGhiondea has completed this.

[2016-04-19 17:50] #476 closed

[2016-04-21 15:24] ianhays opened #654 "Xunit: Provide a Retry attribute"
In some libraries we have tests that are prone to intermittent failure due to the characteristics of the library being tested. An example of this is FileSystemWatcher: the tests assert that an event is fired by the OS but that isn't always done with 100% certainty. Events only <i>may</i> fire. We don't need to be as strict with our assertions because there isn't a guarantee that the tested behavio

[2016-04-21 15:53] tarekgh commented on #596
Fixed by the linked PR

[2016-04-21 15:53] #596 closed

[2016-04-21 21:15] CIPop commented on #654
/cc @ericeil @davidsh

This is a really good idea. We though need some more sophisticated system for Networking which can fail reaching external resources for multiple reasons some of which:
1. local machine is busy
2. the remote resource is busy or has transient failures
3. the network is busy
4. the local resource has failed (i.e. incorrectly configured)
5. the remote resource has failed
6. the

[2016-04-21 21:38] ericeil commented on #654
This is effectively a proposal that we add support for "unreliable" test cases.  To that end, I'd suggest calling this something like `[UnreliableFact]` rather than naming it for some implementation detail like "retries," etc.

That said, I'm not sure how I feel about having unreliable test cases. 😬 Isn't it typically just one operation within the test case that we want to treat as "unreliable," a

[2016-04-21 21:40] ianhays commented on #654
I've got a prototype working that does dumb-retries without any back-off and I don't think back-off will be difficult to add. I had planned on making it specifiable as an optional parameter on the ```Retry``` tag e.g.

[code]

but looking into it more it seems like having exponential backoff toggle-able through a bool parameter would be more useful:

[code]

I was looking at [Wikipedia](https://en

[2016-04-21 21:48] ianhays commented on #654
That's essentially what it is, yes.

It does sort of go against the spirit of a unit test. And I admit that I'm concerned about possible abuse of the attribute by lazy devs not wanting to fix intermittent failures :) But I'd rather have the power to do that easily if it's the right thing.

The problem is that those operations tend to have nontrivial amounts of setup and teardown that (in the case

[2016-04-21 21:49] bartonjs commented on #654
Yeah, I'm in agreement with @ericeil.  We should be striving for reliable tests.  If a test expects some amount of variability it should self-guard against it.  Maybe that's facilitated by a RetryHelper, or some other utility types.

About the only thing I like about the attribute notion is that we can automatically move any such tests to outerloop.  Because if it's documented as unreliable, it sh

[2016-04-21 21:56] bartonjs commented on #654
[code]

[2016-04-21 22:20] ianhays commented on #654
It'd be a nightmare to modify all of our existing tests to follow that pattern though. And even then it's not immediately obvious what the test is doing.

It does seem like the ability to control <i>when</i> the test retries is important. What do yallthink of this:

[code]
The only issue then would be that the filtering would be limited to failures from exceptions. Assertions would be treated diff

[2016-04-21 22:50] bartonjs commented on #654
Well, that missed the inspection check of the HttpException wrapping a SocketException (and other "i need to look at this Exception object" checks).  And, if anything, it should be one retry attribute with a params Exceptions array.  Otherwise you have "what happens if not all the retry values agree?"

I'm personally okay with the retry being a pain to use; it means you have more incentive to writ

[2016-04-21 23:26] ianhays commented on #654
That it did. Any retry-check more complicated than a basic exception catching would have to do something more explicit like the example you posted.

Yeah, it would make more sense as a params array because otherwise we'd have to manually parse the other attributes searching for more instances of ```Retry```

There's a not insignificant adoption cost with that though. If it's too much of a pain to

[2016-04-21 23:29] ianhays commented on #654
Adding some people who have been active in testing or been involved in a Retry discussion lately: @ellismg @hughbe @ericstj

[2016-04-21 23:53] CIPop commented on #654
I agree: I think that the test should present best practices for developers using our framework. If a retry mechanism is required for certain scenarios, we should either include it in a contract or reference existing components such as the Enterprise Library.

It can get complex very fast: For System.Net Desktop tests we have a module that runs a set of checks whenever it's asked for the endpoint

[2016-04-22 16:05] ianhays commented on #333
The manual specification is a fine solution and what we do for all other libraries in CoreFX now anyways.

[2016-04-22 16:05] #333 closed

[2016-04-22 17:43] ericstj opened #658 "GenAPI generates custom attributes with references to private types"
Bug is here: https://github.com/dotnet/buildtools/blob/b6663b70b5956f352af75d7d9accf89baa13929c/src/Microsoft.Cci.Extensions/Filters/PublicOnlyCciFilter.cs#L66

We need to check the visibility of all the types used in the custom attribute arguments.

An easy repro is to run GenAPI on an assembly with public async methods/events.
GenAPI will generate source like:
`[System.Runtime.CompilerServices.A

[2016-04-25 17:39] #632 closed

[2016-04-25 21:46] chcosta opened #667 "Support 0 for *TokenDaysValid in CreateAzureContainer"
We aren't currently using the ReadOnlyToken or WriteOnlyToken tokens in CreateAzureContainer anywhere (or even retrieving them), but a token expiration of 0 causes a warning in the build.  0 should be a supported value implying, don't give me a token.

This issue was mentioned by @jhendrixMSFT in PR #666

[2016-04-26 16:34] #621 closed

[2016-04-26 18:15] ellismg opened #670 "BUILDTOOLS_OVERRIDE_RUNTIME no longer works"
The logic in our init scripts for handling `BUILDTOOLS_OVERRIDE_RUNTIME` no longer works (it assumes path layouts that matched what we had when we used a DNX based CLI, but no longer works with the new layout.

[2016-04-26 18:35] patrickcarnahan opened #671 "Add support for NETStandard1.X framework"
Trying to consume this library for xunit testing in a CoreFX based project. After moving forward to netstandard1.x from dnxcore50, the xunit packages are no longer compatible. I moved forward to the packages available on the myget donet-buildtools feed due to them claiming support for NETStandard1.3, but this doesn't appear to be the case.

Errors in c:\code\vsts-agent\src\Test\project.json
    xu

[2016-04-27 13:32] #671 closed

[2016-05-03 19:03] chcosta opened #687 "Race in ArchiveTestBuild target"
There is a race in the ArchiveTestBuild target of publishtest.target - https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/publishtest.targets#L232

The DestinationArchive path doesn't take into account that a test library may be built for different target groups.  See https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/tests/

[2016-05-03 19:24] weshaggard commented on #687
cc @tarekgh @MattGal
We will need to take this into account when building for the different targets and potentially in the universal runner logic, not sure.

[2016-05-04 23:51] jhendrixMSFT commented on #687
Fixed in https://github.com/dotnet/buildtools/commit/ae1465a55c36640d4c0ad6588750c931ebd69f88.

[2016-05-04 23:51] #687 closed

[2016-05-05 21:03] #614 closed

[2016-05-06 18:23] #473 closed

[2016-05-08 19:11] ellismg commented on #670
In addition to the new layout there are a few additional issues:

1. The runtime that CLI now uses only contains mscorlib.ni.dll, but not the IL only image.  This means the logic to remove mscorlib.ni.dll will result in a runtime that does not boot unless `BUILDTOOLS_OVERRIDE_RUNTIME` points to a folder that also includes an MSIL mscorlib.dll
2. By default, all the rest of the IL images are going

[2016-05-09 15:15] AtsushiKan opened #699 "VS F5 experience broken again, due to relative path in StartProgram."
In test.targets,

     <StartProgram Condition="'$(StartProgram)'==''">$(TestProgram)</StartProgram>

This puts a relative path ("CoreRun.exe") into the F5 executable form. It needs to be the full path, something like

     <StartProgram Condition="'$(StartProgram)'==''">$(StartWorkingDirectory)\$(TestProgram)</StartProgram>

or F5 will not work. VS will not fill in the working directory for you.

[2016-05-09 15:17] AtsushiKan opened #700 "VS F5 workflow broken in clean checkout due to new test execution script."
Before this change, this workflow worked:

    rd /S /Q CoreFx\bin
    open CoreFx\src\System.Security.Cryptography.Pkcs\System.Security.Cryptography.Pkcs.sln
    Hit F6.
    Put breakpoints.
    Hit F5.

Now, F5 is broken since the "Build" target only binplaces the Tests.dll and nothing else.

The only way to restore the old workflow is to do this lovely hack first:

    cd CoreFx\src\System.Secu

[2016-05-10 23:57] karajas opened #703 "UploadToAzure appears to succeed but fails silently"
1. The Upload task fails with the following message
   <Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.
   RequestId:754011c0-0001-010d-63ff-aab844000000
   Time:2016-05-10T21:02:14.5780916Z</Message></Error>
   Received response to upload part 0 of file Linux.AnyCPU.Release/archive/tests/System.AppContext.Tests.zip: Status Code:BadRequest Sta

[2016-05-11 18:34] joperezr opened #705 "GenFacades don't support rewriting Portable PDBs"
Currently our x-plat builds for corefx generate portable PDBs for each library. After generating each one, we run GenFacades on top of the binary and symbols to add some type-forwards. Even though this works fine in Windows(because Windows doesn't generate Portable PDBs), it doesn't work on x-plat because CCI (GenFacades dependency) doesn't support Portable PDB rewriting. This issue is to track th

[2016-05-11 22:44] MattGal opened #708 "Remove creation of assemblylist.txt files once performance tests stop using them"
As noted in https://github.com/dotnet/buildtools/pull/702, I have added back assemblylist.txt generation (basically a list of dependencies that has been massaged into a 3-part JSON format) to keep the older python Perf runner scripts working.

As soon as the performance team can move to a converged runner script the way functional / stress have, we should remove the build task and usage of it.  Th

[2016-05-11 22:58] ericstj opened #709 "Allow for unknown SupportedFramework entries for validation"
Let folks use unknown SupportedFrameworks and treat those as frameworks that should restore without RID.

[2016-05-16 17:06] dsgouda opened #723 "Microsoft.xunit.performance.runner.Windows is not packaged with test dependencies for perf projects"
The Microsoft.xunit.performance.runner.Windows and Microsoft.xunit.performance.analysis packages defined https://github.com/dotnet/corefx/blob/master/src/Common/test-runtime/project.json#L11 and https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/test-runtime/project.json#L7 seem to get restored during build process but are not packaged as a test dependen

[2016-05-17 00:26] schaabs opened #727 "SendToHelix task is failing to upload json job"
Recently hit an issue with uploading the job list to helix:

BuildToolsVersion 1.0.25-prerelease-00414-01

    Upload to Azure is complete, a total of 505 items were uploaded.
             Begin uploading blobs to Azure account dotnetbuilddrops in container corefx-master-stress-24111-131-ubuntu.
             Uploading d:\dotnet-reliability\bin/tests/Linux.AnyCPU.Debug/archive/SupplementalPayload.z

[2016-05-17 01:10] MattGal commented on #727
@ChadNedzlek   This is the issue we were just talking about (where POST is redirecting to GET)

[2016-05-17 04:42] MattGal commented on #727
@schaabs , looks like @ChadNedzlek  has addressed this now.

[2016-05-17 04:42] #727 closed

[2016-05-17 17:01] ericstj opened #728 "ValidateApiCompatForSrc causes CopyFilesToOutputDirectory before all files are built"
The ValidateApiCompatForSrc target depends on CopyFilesToOutputDirectory target and ValidateApiCompatForSrc is called *during* the CoreCompile target. CopyFilesToOutputDirectory tries to copy the resource assemblies to the output directory but those haven't been created yet since that happens as part of CreateSatelliteAssemblies which is sequenced later in the CoreBuild phase (after Compile and so

[2016-05-17 17:02] ChadNedzlek commented on #727
We should point that task to the production servers as well, since staging is... well... staging, and isn't always going to be working.  I'll try to find the place where that happens (I think it's in some targets file somewhere) and update it. But it's just a property that can be overridden by a caller for now.

[2016-05-17 17:03] ericstj commented on #728
When fixing this please undo the workaround made to the TFS Microsoft.CSharp wrapper project that disabled resource assembly generation.

[2016-05-17 17:05] weshaggard commented on #728
Thanks for fixing the internal build, I will try to look into this further. While you were looking into this did you happen to see a better target ordering?

[2016-05-17 17:06] ericstj commented on #728
I believe the right fix is to make ValidateApiCompatForSrc not depend on CopyFilesToOutputDirectory at all (so that you don't pull that into the CoreCompile target).  Instead have ValidateApiCompatForSrc use the IntermediateOutputPath where CSC just wrote the assembly.

[2016-05-17 17:06] ericstj commented on #728
I didn't attempt to make that fix since it would require an update of buildtools.

[2016-05-17 17:31] ericstj commented on #728
I tried out that fix locally and it worked.  I'll submit a PR.

[2016-05-18 15:15] stephentoub commented on #700
@MattGal, has any progress been made on fixing these issues around F5 in VS for running tests?  It's painful not being able to debug tests in VS.

[2016-05-18 16:15] MattGal commented on #700
Github email is random for me, this is actually the first I was made aware of it.  I will investigate shortly.

As for "producing both a .cmd and .sh for each target platform, produce both." though, that involves a bit more work because we have to re-run the PrereleaseResolveNugetPackageAssets task multiple times for each unique target, which involves the refactoring work @karajas is doing.

[2016-05-18 16:23] dagood opened #732 "Support dependency validation and upgrade using full package versions"
Now that we have a versions repository that lists every package id and version (https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/master/Latest_Packages.txt) we might want to change from validating and updating dependencies based on prerelease to validating full versions. This solves a few problems:

1. We would no longer need to maintain regexes to match package ids that sho

[2016-05-18 16:34] AtsushiKan commented on #700
Couldn’t the GenerateTestExecutionScripts task just call WriteShExecutionScript() and WriteCmdExecutionScript() each time instead of doing only one based on the extension?

[2016-05-18 18:10] MattGal commented on #700
@AtsushiKan  it could if the list of dependencies were the same in both cases.  The list depends on PrereleaseResolveNugetPackageAssets which in turn uses the RID / Target Moniker to select the files and generate that list... so today, RunTests.sh needs *Nix specific files in it and is different when targeting OSX versus, Ubuntu, etc.  @karajas  can comment about how close we are to doing this all

[2016-05-18 18:20] AtsushiKan commented on #700
Right, but the cross-building case, I just want a .cmd file that pulls down the *Nix-specific file (and a Unix dev cross-building for Windows would want the opposite – a .sh file that pulls down the Windows-specific files.) In other words, I want the .cmd and .sh for a specific build target to do the same thing.

In other worse, if I “msbuild -p:Configuration=Unix_Debug”, and my devbox is running

[2016-05-18 18:25] MattGal commented on #700
Right but there's a different Nix-specific file for every distinct flavor of it and (ideally, probably not now as I think everything's being stuck to win7-x64 for automated runs) one for every flavor of windows.  If you generated one for OSX and ran it on Ubuntu, or any other combination, it wouldn't copy the right files as would be resolved.  Eventually we'll generate the full matrix so there'd b

[2016-05-18 18:49] weshaggard commented on #732
I don't think we actually need to check that in do we? I was hoping we might just be able to point to the exact package list via it's sha via the github url. Is there any reason that wouldn't work?

[2016-05-18 18:54] dagood commented on #732
It would add an extra network dependency during a `sync /p` to validate (maybe just the first `sync /p` if we cache the result), but other than that I like that idea, didn't think of it.

[2016-05-18 18:55] weshaggard commented on #732
Yes I think we could pull it down and cache it.

[2016-05-20 16:22] nguerrera commented on #705
I suggest changing GenFacades to a source generator that generates type-forwards in intermediate directory, then just csc together with manual source (if any) to emit final dll and pdb. That is probably less work than portable PDB support in CCI (who's signing up to do that?) and also future proof against further binary rewriting fragility. cc @tmat

[2016-05-20 16:23] #728 closed

[2016-05-20 16:28] tmat commented on #705
Also it will make the build deterministic without the need to make CCI deterministic.

[2016-05-23 23:57] dagood opened #745 "Move native symbol package creation logic into buildtools"
Right now native symbol packages are created differently in https://github.com/dotnet/coreclr/tree/master/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR vs https://github.com/dotnet/corefx/tree/master/src/Native/pkg although the core logic could be shared. We should move what we can into buildtools, especially any symbol "discovery" functionality that could be applied across packages in any .NET Cor

[2016-05-25 06:27] mrgleba opened #752 "VS F5 not working out of the box when targeting NETFramework"
I'm porting a project (web service on Kestrel) from RC1 tooling to RC2.
The project is targeting net451 as I'm still stuck with some libs that are not yet ported.

On hitting F5:
 - compilation goes fine and exe is created in bin\Debug\net451
 - libuv is *not* copied to bin\Debug\net451
 - VS tries to run exe from bin\Debug\net451\win10-x64 and fails as there is no such directory

I was able to wo

[2016-05-25 06:40] davidfowl commented on #752
This has nothing to do with this repository.

[2016-05-25 06:41] mrgleba commented on #752
Sorry then :(
Any idea where it should be reported ?

[2016-05-25 06:51] davidfowl commented on #752
aspnet/Home

[2016-05-26 16:07] ericstj opened #756 "Test project property does case-sensitive check"
https://github.com/dotnet/buildtools/blob/76918ef7912a872f28351a489122a2febfe66312/src/Microsoft.DotNet.Build.Tasks/PackageFiles/Build.Common.targets#L8

If someone were to call MSBuild on the test project with lower-case filename, this would work on windows, but evaluate the wrong result for IsTestProject.

@mikem8361 hit this when trying to repro a test failure.

/cc @weshaggard

[2016-05-27 18:09] weshaggard opened #761 "Clean-up file copy items in publishtest.targets"
See comments in https://github.com/dotnet/buildtools/pull/753

In particular we should eliminate any need to call Copy in msbuild and instead rely on RunTest.cmd. We should eliminate all the duplicate file item lists to avoid any confusion. If we aren't using CreateTestNuGetPackage we should simply delete it to avoid that duplication as well.

cc @ellismg @MattGal

[2016-05-30 07:13] #752 closed

[2016-05-31 20:50] MattGal commented on #480
Leave a comment

[2016-05-31 20:50] #480 closed

[2016-06-01 20:21] MattGal commented on #699
Fix for this is in https://github.com/MattGal/buildtools/tree/VS_Debugging_fixes .  I am checking out ways to also fix #700.

[2016-06-07 15:53] dagood opened #779 "Add feature to auto-upgrade to group dependencies by rules"
One way to solve the merge conflicts we saw in https://github.com/dotnet/corefx/pull/9028 is to add newlines between the different sets of dependencies that are updated simultaneously. This could be done in the auto-upgrade task.

[2016-06-07 15:57] dagood commented on #779
This could be brittle if we add/remove dependencies without running the ordering, but the worst that happens is a merge conflict. After fixing the merge conflict, the dependencies are back in order.

[2016-06-07 16:03] bartonjs commented on #779
Yeah, we'll still get merge conflicts when dependencies are added.

Maybe my thinking here is naive, but: Won't most of our references flip to stable after RTM?  That would mostly eliminate the changes from the task, which would therefore mostly eliminate the conflicts.

[2016-06-07 16:05] dagood commented on #779
Well, that's only if they're added without caring at all about the grouping, I'm pretty sure. As long as the dependency-adder either adds it to the right group, runs the tooling, or adds a newline before their new dependency at the end of the deps section, the next upgrade PR should handle it ok.

[2016-06-07 16:08] dagood commented on #779
I *think* that https://github.com/dotnet/corefx/blob/master/src/Common/test-runtime/project.json will always be upgraded, so would always cause merge conflicts for the overall PR without a newline. I agree that there won't be as many, though.

[2016-06-07 18:39] ericstj opened #780 "Disable live packaging task dll after updating buildtools version in buildtools"
I had to run against the live task to get a NuGet fix.  Disable this once we've updated the buildtools package version used by buildtools repo to one that has the fix.

[2016-06-09 22:27] ericstj opened #788 "PInvoke checker data files are too sparse"
The logic for applying the pinvoke checker data files is really flaky.  We should look at all the targetgroups we have holistically and map the right data file to all of them.  We should also provide a way for TargetGroup='' to say what it actually represents.

One thought here is a layer of indirection where we map the project settings to some named API grouping (eg: OneCore, UWP, Win8, ClassicDe

[2016-06-13 21:40] cdomino opened #799 "Visual Studio crashes when publishing to Azure App Service"
Hello -

I have a dnx46 web project that's currently working on (mostly) RC1 bits started a few months ago on the preview templates.  On the same machine (Windows Server 2012 R2 + VS 2015 Update 2) I cannot publish a vanilla (no changes made from the VS template) web project to Azure. VS crashes at various stages of the publish (see attached).  Some observations:

- Doing a clean on the project se

[2016-06-15 00:47] CIPop opened #808 "ConditionalTheory silently ignores a test if there are exceptions thrown by the condition properties"
The following test theory will silently be ignored (easily missed when there are 104 tests):

[code]

Output:
[code]

/cc @roncain @davidsh

[2016-06-15 13:52] ericstj opened #810 "Improve package build number validation"
Currently we do not validate the following:
1. With split packages that all packages in a set use consistent version.
2. If the package version is explicitly set and lower than the calculated package version (its ok if it is higher).

[2016-06-15 16:18] KrzysztofCwalina opened #811 "GenAPI fails not being able to find System.Linq.dll"
I forket the repo and built it from command line. Then I tried to run GenAPI and got the following error:
![image](https://cloud.githubusercontent.com/assets/9724236/16088035/19024b36-32da-11e6-812d-21f6556bf35f.png)

[2016-06-15 17:34] #808 closed

[2016-06-16 04:51] #487 closed

[2016-06-16 19:23] weshaggard commented on #811
Which version of genapi did you run? The desktop or core version?

[2016-06-16 19:25] weshaggard opened #820 "Add validation to detect stable runtime packages depending on prerelease packages"
We need to ensure any runtime dependencies going into runtime.json are also stable if the package containing it is stable.

[2016-06-16 19:48] ericstj commented on #820
NuGet detects direct dependencies but not runtime.json dependencies.  We need to do that.

[2016-06-16 20:43] ericstj opened #821 "GenerateAssemblyList failing with could not find file ...dependencylist.txt"
To repro on an Ubuntu machine fetch master, init-tools, then build one test with /t:BuildAndTest.

Expect: run test

Actual: build fails with
[code]

[2016-06-16 20:44] ericstj commented on #821
FWIW it looks like this doesn't repro if TestWithLocalLibraries=true, which is why the CI isn't failing.

[2016-06-16 21:35] ericstj commented on #821
I looked at it a bit more and found the problem is that IncludedFileForRunnerScript is empty.  I suspect this was broken by @karajas here https://github.com/dotnet/buildtools/commit/dbf81d43533f82d795234cc8b4fc9aa4c857d9ac#diff-425cb0dcf83ca9680e4a736c021dabe8R185

[2016-06-16 21:38] karajas commented on #821
Yes I introduced a workaround to avoid the issues that were resolved by https://github.com/dotnet/buildtools/commit/d2f3d75df4a5dd896eb72138c42c159feb71522a . Should have a fix which solves this and the issue with the tests assemblies getting copied to the test directory.

[2016-06-16 22:40] dagood opened #823 "Move UpdatePublishedVersions.ps1 to buildtools"
`UpdatePublishedVersions.ps1` is in a few places:
* https://github.com/dotnet/corefx/blob/master/UpdatePublishedVersions.ps1
* https://github.com/dotnet/coreclr/blob/master/UpdatePublishedVersions.ps1
* The TFS build auto-publisher
* Soon, WCF

There isn't any big reason to differentiate the file between repos, so it should be centralized.

Also consider centralizing `UpdateDependencies.ps1` (core

[2016-06-16 22:57] #821 closed

[2016-06-17 16:10] tarekgh opened #827 "Fix the build warnings produced during package resolving"
According to @ericstj  this can be alarming as the resolver decide to pick a random version and produce this warning. we need to ensure we are not missing anything and fix these warnings.

[code]

[2016-06-17 23:04] weshaggard commented on #823
agreed thanks for filing this issue.

[2016-06-17 23:33] chcosta opened #830 "Cleanup AddDependenciesToProjectJson"
PR https://github.com/dotnet/buildtools/pull/806 was merged with a couple of open cleanup issues.

- The right way to get package information is to open the package and read the nuspec.  Look at PackageArchiveReader and NuspecREader from NuGet.Packaging.
- List<ITaskItem> packageInformation would be more useful if it were a dictionary for lookups.  This would mean we also intentionally code how we

[2016-06-20 13:28] ericstj opened #831 "Update lineup/platforms references in buildtools"
Need to bump version to 1.0.2 in https://github.com/dotnet/buildtools/blob/3c700d1ecc358c6c1b3ffbaaeb49e7864a8e9ba7/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L86

[2016-06-21 19:20] dagood opened #835 "Make UpdateDependencies.ps1 update all in one PR, updating existing PR if possible"
Instead of opening separate PRs for each dependency group in the versions repo, make a single PR with all upgrades necessary to make dependency state current. This:
* Fixes the merge conflict problem.
* Reduces PR noise.
* Reduces CI strain.
* Simplifies the versions repo subscription.

To help even more, we should update an existing dependency upgrade PR rather than opening a new one if possible.

[2016-06-21 19:51] weshaggard commented on #835
I'm all for it.

[2016-06-21 20:26] weshaggard commented on #799
This isn't relevant to BuildTools repo so closing.

[2016-06-21 20:26] #799 closed

[2016-06-21 20:38] weshaggard commented on #827
Looks like this is the same as https://github.com/dotnet/corefx/issues/9464, so closing this one.

[2016-06-21 20:38] #827 closed

[2016-06-21 20:48] cdomino commented on #799
Can you recommend where I should post this please?

Thanks!

From: Wes Haggard [mailto:notifications@github.com]
Sent: Tuesday, June 21, 2016 3:27 PM
To: dotnet/buildtools <buildtools@noreply.github.com>
Cc: cdomino <chris@chrisdomino.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/buildtools] Visual Studio crashes when publishing to Azure App Service (#799)

This isn't relevant to B

[2016-06-21 21:14] weshaggard commented on #799
I believe you can try https://github.com/aspnet/tooling.

[2016-06-21 22:09] weshaggard commented on #558
As part of this we should also consider using these for bootstrapping the cli.
•	https://dot.net/dotnet-install.sh
•	https://dot.net/dotnet-install.ps1

[2016-06-27 19:47] ianhays commented on #654
Agreed. Retrying is a bit too much based on the individual test's needs to be easily generalized like the above examples. I ended up adding a little bit of custom code in FileSystemWatcher to retry tests in a format similar to the one Jeremy posted and it ended up being more robust than an xunit attribute would have been. Closing this.

[2016-06-27 19:47] #654 closed

[2016-06-29 16:58] weshaggard opened #845 "Include sha in build tools packages"
For servicing and other events we need to include the sha for the commit where we built the build tools package for incase we need to make a targeted fix for the tools in a servicing event.

cc @markwilkie

[2016-06-29 20:19] ericstj opened #846 "Incremental build drops source files"
See comment: https://github.com/dotnet/buildtools/commit/65080e8a3bd132cfe51ebe73009f75cef02c9b1d#commitcomment-18068059

I noticed this when building packages because our symbol packages include all source files and on an incremental build were dropping _AssemblyInfo.cs and SR.cs

[2016-06-29 20:37] ericstj commented on #846
Yep, SR.cs followed the same bad pattern.
https://github.com/dotnet/buildtools/blob/d25c6128ceb345040773480e55322931a3ec2b6e/src/Microsoft.DotNet.Build.Tasks/PackageFiles/resources.targets#L23

[2016-06-29 20:37] ericstj commented on #846
/cc @weshaggard @tarekgh

[2016-06-29 22:38] tarekgh commented on #846
does this cause compile error with the incremental build?

[2016-06-30 00:15] weshaggard commented on #846
Yes it could end up causing compile issues and missing assembly information.

[2016-06-30 20:51] chcosta opened #852 "Add version.txt to nuspec's when buildtools version is updated"
After this PR https://github.com/dotnet/buildtools/pull/849  is submitted, undo commit https://github.com/dotnet/buildtools/pull/849/commits/29a0841c2cb35fe0d60540bab4a3b0f1a14a3e4c

This will add version info to buildtools packages

[2016-06-30 21:36] #845 closed

[2016-06-30 21:51] mellinoe opened #853 "Test runner script is unnecessarily verbose on Unix"
Namely, this line seems a bit too verbose:

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/RunnerTemplate.Unix.txt#L10

We don't seem to print anything in this case on Windows, so I think we should make this silent by default.

[2016-07-01 22:38] maririos opened #857 "Merge change of CommandLine.cs from the run folder to the common folder"
The Run Command Tool (merged with PR #672 ) is using a copy of the class CommandLine.cs.
Instead of having a copy we would like to merge the changes from the class under Run to the CommandLine.cs class under the common folder.

[2016-07-03 16:00] ctyar commented on #821
I'm having same issue in win7 with same steps
[code]

[2016-07-04 00:18] jamesqo commented on #821
I'm having this same issue, as well.

[2016-07-04 16:49] ctyar commented on #821
Cant reproduce on https://github.com/dotnet/corefx/commit/3e82a5722cf8b847cb510e16b06aaa98a25bc07f anymore

[2016-07-07 01:01] MattGal opened #861 "Add Error Checking to CreateAzureContainer"
As noted in #703, we can fail silently when creating Azure containers.

This issue tracks using the return code from Azure to detect this state and fail hard.

[2016-07-07 01:06] MattGal opened #862 "Ensure that WriteItemsToJson writes an array when given a single task item"
In src\Microsoft.DotNet.Build.CloudTestTasks\WriteItemsToJson.cs:

WriteItemsToJson Task currently serializes whatever it's given, and in the case of a single test can end up not making this into an array.  The Helix Controller cannot handle this and we do not intend to add support for this.  Single items in this task need to come out as 1-item arrays.

[2016-07-07 15:28] dagood commented on #779
Closing since we're going with the "all upgrades in one PR" fix instead.

[2016-07-07 15:28] #779 closed

[2016-07-07 18:43] dagood opened #864 "Run command doesn't show colors"
Specifically, color no longer shows up in the msbuild output when I run `build`. This makes it hard to spot build errors and warnings.

(Running `build` using `cmd.exe` on win10.)

/cc @maririos

[2016-07-07 20:07] joperezr commented on #864
FYI @AlexGhiondea developed a .NetCore library that helps you print in the Console with color. @maririos perhaps you can leverage that in Run.exe ?

[2016-07-12 13:34] esdrubal opened #869 "apigen.exe generating code that does not compile."
While generating api of mscorlib v4.6.2, apigen.exe  generates code that does not compile:

Using v4.6.2 reference assemblies

And doing on windows:
[code]

Here is  one of the problematic lines:
```[System.Runtime.CompilerServices.IteratorStateMachineAttribute(typeof(System.Collections.Concurrent.ConcurrentDictionary<TKey, TValue>.<GetEnumerator>d__35))]```

[2016-07-14 16:43] mjsabby commented on #705
Is someone working on CCI getting Portable PDB rewriting capabilities?

[2016-07-14 16:46] ratishphilip commented on #658
@ericstj
I am facing the same issue.
I have added the NuGet package to my project. My project contains a public async method.

Could you provide details about how I can specify an -excludeApiList. Where should the exclusion file be placed?

[2016-07-14 17:00] tmat commented on #705
@mjsabby Not that I know of.

[2016-07-14 17:03] ericstj commented on #658
You can put the exclusion file anywhere, for instance in your project root, eg: excludeApis.txt

Then in the project file, you just need to specify some additional parameters to pass to genapi.

For example:
[code]

[2016-07-14 18:21] ratishphilip commented on #658
@ericstj
Thank you very much. 👍

[2016-07-14 18:23] ratishphilip commented on #658
@ericstj
Can we expect this bug to be fixed in the near future so as to avoid this workaround?

[2016-07-14 18:32] ericstj opened #877 "Update Xamarin Assembly lists"
Here are the latest file lists.  We should translate these to xml and update our validation lists.

[monotouch_watch.txt](https://github.com/dotnet/buildtools/files/364538/monotouch_watch.txt)
[xammac_net_4_x.txt](https://github.com/dotnet/buildtools/files/364540/xammac_net_4_x.txt)
[monodroid.txt](https://github.com/dotnet/buildtools/files/364542/monodroid.txt)
[monotouch.txt](https://github.com/

[2016-07-14 18:38] ericstj commented on #658
I haven't looked at what a fix would look like here.  I'll mark this one up-for-grabs so anyone can pick it up.  /cc @mellinoe @weshaggard

[2016-07-15 05:56] MattGal opened #882 "BuildVersionFile generated matches the time zone of builder; Build controller may not be in the same time zone"
@jhendrixMSFT  @chcosta  @karajas

The file BuildVersion-**DATE**.props is generated by the following in BuildVersion.targets:

    <BuildVersionFile Condition="'$(BuildVersionFile)'==''">$(BuildVersionFilePath)BuildVersion-$(TodayTimeStamp).props</BuildVersionFile>

    <TodayTimeStamp>$([System.DateTime]::Now.ToString(yyyyMMdd))</TodayTimeStamp>

However, for our VSO automated build processes, t

[2016-07-15 16:26] jhendrixMSFT commented on #882
@joperezr I think this is similar to the issue you're investigating.

[2016-07-15 18:39] #830 closed

[2016-07-15 20:01] MattGal commented on #882
From chatting w/ Joel, this should be overwritten when property "OfficialBuildId" is provided.  I can't find evidence that ever worked though.

[2016-07-15 21:09] #823 closed

[2016-07-17 08:39] maxim-boligatov opened #886 "Failed to start ASP.Net Core application from VS when custom output name is used"
I am not sure if it is correct place for this issue. But I have not found more appropriate place.

## Steps to reproduce
1. Create ASP.Net Core  web application (.Net Framework) with name Web.Site in VS
2. Use outputName property in buildOptions to specify custom name of assembly (for example "outputName": "MyCompany.Web.Site").
3. Try to start application from VS or try to run debug.

## Expected

[2016-07-18 16:02] joperezr commented on #886
Hello Maxim, thanks for your contribution! This repo is where we have the source for all of the tools that we use in order to build our other repos(.Net Core framework, CLR, etc.). I believe this issue probably belongs on the [ASP.NET Core repo instead](https://github.com/dotnet/buildtools/issues/886) If it's ok by you, I would like to move it there to have the right people looking at it. Thanks a

[2016-07-18 17:26] TyOverby opened #888 "run.exe crashes on empty file"
with an empty config.json file, run.exe crashes with the error:

[code]

[2016-07-18 17:27] TyOverby opened #889 "run.exe crashes on minimal file"
with a json file that looks like this:

[code]

run.exe crashes with

[code]

[2016-07-18 17:56] TyOverby opened #890 "Run.exe crashes on a config.json that doesn't have tools linked up correctly"
~~I have no idea why this file is considered malformed, but~~ this config.json breaks run.exe

[code]

error:
[code]

[2016-07-18 19:14] dagood opened #891 "In VersionTools, separate Update and SubmitPR cleanly"
For a consumer of VersionTools to have a flag for submitting a PR, currently they have to do something like in https://github.com/dotnet/cli/pull/3878:
[code]

Either way, the `dependencyUpdater` constructor takes github auth, but it's only used for the PR branch. Maybe it's just my opinion, but the args repeated for each branch seem bad to me too.

This API should be separated into an Updater and

[2016-07-18 19:40] dagood opened #892 "Add buildtools to versions repository, allowing auto-update with Maestro"
We should have buildtools update an entry in https://github.com/dotnet/versions/tree/master/build-info/dotnet so that other repos can get automatic PRs for new builds through Maestro.

When someone updates buildtools, the changes tend to target a specific repo, but it will be useful to check for breaks in other repos early. (Rather than only noticing when an update is needed and getting blocked.)

[2016-07-18 21:04] TyOverby commented on #890
Apparently the only tools names that are valid are "terminal" and "msbuild".

[2016-07-19 02:39] maxim-boligatov commented on #886
Hello )) Yes of course, please move it to corresponding place. If it is possible please put here reference to new thread (moved).

[2016-07-19 16:04] TyOverby opened #894 "Run.exe crashes when overriding Project in settings for an alias where project is a default value"
[code]

[2016-07-19 16:07] joperezr commented on #888
I don't believe we want to support this case. Either way I'm assigning this to @maririos so that she can better evaluate.

[2016-07-19 16:17] joperezr commented on #886
Done, you can go [here](https://github.com/aspnet/Home/issues/1680) to track the new issue. I'll close this one given the other is now tracking the bug.

[2016-07-19 16:17] #886 closed

[2016-07-19 17:44] maririos commented on #890
As we talked yesterday, for now the Run Command Tool has a dependency on the tools: msbuild and terminal.
In a next iteration of Run we'll fix that.

[2016-07-19 17:45] maririos commented on #888
I'll add a condition to print an error message.

[2016-07-19 18:31] TyOverby commented on #894
Running `run build` works fine, but `run build compilers` crashes with

[code]

[2016-07-19 20:12] maririos commented on #894
@TyOverby I can't repro this. I'm using Build Tools version 1.0.26-prerelease-00615-02 and it is working.
What version are you using?

[2016-07-19 20:15] TyOverby commented on #894
I'm using `1.0.26-prerelease-00615-02 `

[2016-07-19 22:01] maririos commented on #894
The problem here is that you are not passing a `-` before the word compilers. That is how the tool recognices what an alias and a command is.
In my machine in fails saying that `compilers` is not a project msbuild knows about. But with the changes made with the PR #883 the error message is going to be different and more explicit.

Closing the issue.

[2016-07-19 22:01] #894 closed

[2016-07-20 14:37] stephentoub opened #896 "ReportGenerator is no longer being run in code coverage runs"
Full code coverage runs are no longer producing a report, for either corefx or Wcf.

This produces a 404:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

You can see that none of the report files are present:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows/44/artifact/bin/tests/coverage/
(just the inpu

[2016-07-20 22:24] joperezr commented on #882
Closing since this was fixed with #885

[2016-07-20 22:25] #882 closed

[2016-07-20 22:43] sokket opened #900 "Run.exe should be compiled against RTM .NET bits"
We released RTM of Core so Run.exe should be compiled against it. The CLI has moved to use RTM bits so we cannot use Run.exe until it is updated to work against RTM bits

[2016-07-21 07:48] raffaeler opened #904 "Reference Assembly generation"
I am using the following nuget package to generate the sources for a reference assembly:
https://www.nuget.org/packages/Microsoft.DotNet.BuildTools.GenAPI

The generated code contains the following attribute for each method returning a task:
        [System.Runtime.CompilerServices.AsyncStateMachineAttribute(typeof(Xyz.Abc.MyClass.<GetAuthenticationCookie>d__34))]

The problem is the "AsyncStateMa

[2016-07-21 21:50] TyOverby opened #908 "run.exe Add option to select different projects based on OS"
Add option to select different projects based on OS

For roslyn, on windows, we `msbuild Roslyn.sln`, but on linux, we `msbuild CrossPlatform.sln`.

[2016-07-21 21:50] TyOverby commented on #908
@jaredpar

[2016-07-21 22:14] stephentoub commented on #896
Thanks for fixing this, @MattGal.  It's working again, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/1/artifact/bin/tests/coverage/index.htm

[2016-07-21 22:14] #896 closed

[2016-07-21 22:15] jaredpar commented on #908
CC @maririos,

Think there is a more general item here.  It seems the config file needs to be able to specify different actions for a given command (`build`, `sync`, etc ...) based on the current OS.  Example I would run `sync.cmd` on Windows but `sync.sh` on Linux.

Note: appologies if this behavior already exists.  I'm trying to find documentation on it and so far can't find it.

[2016-07-22 00:03] sokket opened #910 "Run.exe commands should have a default alias"
Commands in config.json should have the ability to add default aliases on commands so users don't have to remember the default parameter every time. For instance, for `clean`, one can imagine that the default would be to remove the `bin` directory. Having to remember the command line option to make that happen is tedious and adds logic to the script files to check for parameters. We should avoid t

[2016-07-22 04:44] maririos commented on #908
What we've been encouraging is that running something on Windows should be pretty similar to running it on Unix. Of course sometimes it is inevitable, but we do our best.
Taking into account that, one way to avoid this is by having files with same names but different extensions according to the OS. For the particular case that @TyOverby points, I consider it better to have a wrapper `buildsomethin

[2016-07-22 21:01] jaredpar commented on #908
@maririos

Agree it would be ideal.  Unfortunately we still don't have a true universal script format for Windows and non-Windows.  It's possible csi.exe or bash (assuming better Windows support) could be that solution one day.  But until then we're going to be left with `tool.cmd` and `tool.sh` pairs :frowning:

I think that should fix the issue.  So long as we can have a cmd on Windows and sh on

[2016-07-22 21:02] jaredpar commented on #908
@maririos also do you have an example of using such a tool that we could look at?  Anywhere in CoreFx or CoreCLR for example?

[2016-07-22 23:02] maririos commented on #908
Sure, I'm using it in [build-native](https://github.com/maririos/corefx/blob/f2f7d665ed776c2ccf53d9b9cd6a6b690b1d583f/config.json#L455)

[2016-07-22 23:02] maririos commented on #908
I'll close the issue then. Thanks!

[2016-07-22 23:02] #908 closed

[2016-07-26 17:43] ericstj opened #917 "Remove fork of ResolveNuGetPackageAssets"
Once we have a way to consume ResolveNuGetPackageAssets x-plat we should remove our fork of it.  This should be coming with the dotnet-CLI-msbuild work.

[2016-07-26 17:46] sokket opened #918 "BuildTools should be able to run against any CLI version"
Right now, build tools is compiled against a specific version of the Shared Framework; it would be nice if it supported running against any version of the SFX that was already on the target machine. This would significantly help the CLI scenario since the CLI repo already has a SFX on-box; however, the SFX version is usually much higher than the build tools version

[2016-07-26 18:24] mellinoe commented on #918
What work does fixing this involve? Does the problem come from the version hard-coded [here](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/MSBuild.runtimeconfig.json)?

[2016-07-26 18:28] joperezr commented on #918
@mellinoe that is part of the problem because that is the minimum version we look to have in the runtime, but another part of it is that we also need to compile against one version of the framework, which is where the real problem is. Basically, there is no easy way to ensure that the version we compile against in buildtools side, will match/support the version that the consumer of buildtools will

[2016-07-26 22:58] mellinoe commented on #918
Is that part actually a problem as long as the version CLI uses is newer, though? It's not like we're breaking interface or behavior compat between earlier and later framework assemblies.

[2016-07-26 23:09] sokket commented on #918
@weshaggard might have some ideas here

[2016-07-27 21:17] ericstj commented on #831
Lineup is now at 1.0.3, Platform is at 1.0.2

[2016-07-28 16:06] dagood commented on #864
I did a bit of searching back when I filed this, and the email reminded me to comment about it. :smile:

I don't know if colors are possible while redirecting the output, because the color is a property of the console and msbuild uses that rather than something capturable like ANSI control sequences. Hoping I'm missing a way to do this.

My workaround is to write out an error-only log (`build -- /

[2016-07-28 19:16] maririos commented on #864
Are you talking about the colors at the end of the build? when you have like the summary of what happened? or the colors while it is building.

For the first case, there may be a way to do it. We could look at every line msbuild is dropping and with a regex see if it is an error or a warning and according to that change the color. We'll need to try it though because I'm not sure.

For the second o

[2016-07-28 20:25] dagood commented on #864
Ah, in buildtools there is no summary, so I didn't think about that vs. the workaround. The during-build coloring is what I noticed missing when Run was integrated, but trying out `-- /v:N` now, I do miss having color in the summary too. Not sure if it's worth regexing over msbuild output though.

[2016-07-28 21:52] mellinoe commented on #864
Is there really no way to "intercept" the output from the process without messing up the colors, and still getting whatever info we need? Doesn't CLI do something like this? I know a lot of stuff was broken by that for a while, but it seems okay lately.

[2016-07-28 23:36] dagood commented on #864
Ooh! https://github.com/Microsoft/msbuild/pull/505 added a flag to enable ANSI colors. You can try it out with `build -- /clp:ForceConsoleColor`. My warnings are yellow again. :smile: This would mean you'd have to strip them out if someone else is trying to parse the msbuild output, though, I think.

[2016-07-29 16:03] maririos commented on #864
:| I'm running `build -- /clp:ForceConsoleColor ` in BuildTools and I don't see the colors! am I missing something? It would be really cool if it is just that easy

[2016-07-29 16:06] maririos commented on #864
@mellinoe no. Calling Process.start only retrieves text, so the color format that mbuild has is getting lost.
@sokket do you have a workaround for this in CLI?

[2016-07-29 16:18] dagood commented on #864
Hmm, well search results say that the Windows console doesn't support ANSI color codes without some tweaks, but as far as I know I haven't done anything to enable them on my Win10 install. In any case, since ANSI codes are part of the output text, Run should be able to look for them and replace them with `Console` calls for compatibility. That may be more complex than it's worth--and maybe there's

[2016-07-29 17:19] sokket commented on #864
@maririos, @piotrpMSFT or @eerhardt would be good contacts to ask :)

[2016-07-29 20:42] eerhardt commented on #864
See https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/AnsiConsole.cs and https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/AnsiColorExtensions.cs for how the CLI handles colors.

[2016-07-29 20:46] eerhardt commented on #864
Also - https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/StreamForwarder.cs for how the CLI captures a child process's output, and forwards it to the current process's stdout/err

[2016-07-29 20:50] dagood commented on #864
@eerhardt That does require the child process to emit ANSI color codes, right?

[2016-07-29 20:51] eerhardt commented on #864
I'm not sure.

[2016-07-29 20:58] dagood commented on #864
Assuming it does, that `AnsiConsole` class would be handy here: if Run executes msbuild with `/clp:ForceConsoleColor` (and if it works), then the `AnsiConsole` class can parse the codes and translate to the "normal" `Console` api, leaving the text output clean.

(Could also think about reusing more stuff if we pull in that utils package.)

[2016-08-01 20:40] #835 closed

[2016-08-01 20:40] #891 closed

[2016-08-01 21:26] maririos opened #928 "Delete the setting ExtraParameters from the config.json file"
The argument `--` should work in run.exe without the need to define the setting `ExtraParamenters` in the config.json file.

[2016-08-02 04:02] weshaggard commented on #918
I think there are a couple possible paths.

1. Generate a runtime.config file with the right version as part of init-tools.cmd
2. By-pass the root dotnet.exe and instead use the dotnet.exe direction from the shared framework.

[2016-08-02 05:17] weshaggard commented on #864
I agree we should fix it so we can see the colors again. We also need to have it output the summary with the number of warnings and errors at the end of the build, otherwise it is really hard to get an idea of what happen during the build.

[2016-08-03 19:16] eerhardt commented on #918
Any update on this?  This issue lowers the ability to adopt buildtools in new repos.  Currently in core-setup and cli repos, we are downloading 2 versions of the CLI.  And now that we are trying to set up the dotnet/sdk repo, we will have to do the same if we want to use buildtools.

For starters, can we just move buildtools up to run on the RTM version of the shared framework?

[2016-08-04 00:31] bartdesmet opened #933 "Run.exe has some typos in usage"
Very minor nit. Ran into the `Run.exe` tool for the first time today when building `corefx` and noticed a few typos. Creating an issue to send a PR against.

[2016-08-04 00:46] weshaggard commented on #918
@crummel can you please have a look at this with your other BuildTools investigations?

cc @markwilkie

[2016-08-04 01:59] mellinoe commented on #918
I was chatting with @joperezr the other day and I didn't understand some stuff that came up regarding this:

* Why don't 1.0.0-prerelease versions "roll-forward" to 1.0.0 stable? I realize there may be incompatible changes made between versions, but the same is also true for different pre-release versions, and it's my understanding that this works, as long as the installed version is higher.
* It

[2016-08-04 02:06] eerhardt commented on #918
I know this was a conscious decision made by the DotNetHost.  Only pre-release versions are allowed in the roll-forward behavior.  @schellap and @gkhanna79 would have the full reasoning behind this policy.  @piotrpMSFT might as well.

[2016-08-04 04:01] schellap commented on #918
Stable versions ex: `1.0.0` will be automatically rolled forward to servicing patch updates `1.0.n`. A pre-release `1.0.0-pre` will not roll forward to patch updates as that is not the intention. It is to make this distinction.

[2016-08-04 05:20] mellinoe commented on #918
Hm, maybe there's some more context that I'm missing, but it seems too restrictive to me... It might become a big headache going forward, especially for folks trying to maintain portable applications across framework versions. At the very least, it should be possible for us to say that an app supports more than one framework version, or a range, etc. Is anything like that possible? With that featu

[2016-08-04 15:18] #933 closed

[2016-08-04 15:44] ericstj commented on #869
Dup of https://github.com/dotnet/buildtools/issues/658

[2016-08-04 15:44] #869 closed

[2016-08-04 16:59] naamunds opened #935 "VersionTools: FileRegexPackageUpdater adds UTF-8 BOM"
Microsoft.DotNet.VersionTools.Dependencies.FileRegexPackageUpdater adds a UTF-8 BOM to all files it updates with its Update method.  It should instead write the file with the same BOM as it had when reading it.

[2016-08-04 17:52] markwilkie commented on #918
@crummel who also cares about stuff like this right now.

[2016-08-04 18:10] joperezr opened #936 "Change the name for Xunit.PlatformID to avoid type conflicts"
On netstandard1.7 we are adding back System.PlatformID which will now cause ambiguity with Xunit.PlatformID unless the fully qualified name is specified. We should rename Xunit.PlatformID to avoid this.

[2016-08-04 18:18] weshaggard commented on #936
cc @stephentoub @Priya91

[2016-08-05 22:55] dagood commented on #732
For the validation part of this, I'm not sure what to do about our "misc" packages: https://github.com/dotnet/corefx/blob/604ed96/dir.props#L115-L134. Maybe checking to see if all project.jsons have the same version of non-auto-upgraded packages is enough?

[2016-08-05 23:15] weshaggard commented on #732
I think it would be reasonable to just point to a package and version list that is checked into the repo for these packages.

[2016-08-08 15:44] dagood opened #942 "On auto-upgrade, post errors/warnings to PR to make them visible"
Currently they only show up in the Maestro build, and nobody checks those unless something goes obviously wrong. It would be useful to post errors and warnings into the PRs, giving them high visibility.

This should be doable by making a trace listener in the msbuild task, but we should aim for something that's reusable with only VersionTools.

[2016-08-08 21:07] dagood commented on #942
Small thing to add to this: making sure two loaded buildinfos don't share any packages. That's a consistency error in the versions repo, and this is a good way to surface it.

[2016-08-08 22:09] #935 closed

[2016-08-12 20:24] dagood opened #954 "Upgrade buildtools to RTM shared framework"
Right now buildtools is on an old shared framework, and it doesn't work with newer versions of CLI/SDK. I ran into this when trying to work on core-setup: https://github.com/dotnet/buildtools/pull/931#discussion_r73383924.

This isn't the same as https://github.com/dotnet/buildtools/issues/918, which is to make buildtools run on *any* higher-versioned shared framework.

[2016-08-16 16:41] #732 closed

[2016-08-16 21:24] maririos opened #958 "Run Command Tool: Passing setting with passThrough property fails"
Calling `sync -MsBuildLogging` fails with:
[code]

It should pass the defaultValue of MsBuildLogging `/flp:v=normal`  and not true.
This applies to all the passThrough settings.

[2016-08-17 15:48] weshaggard opened #960 "Need a way to disable tests for different TestTFM"
Now that we are running our tests for various TestTFM's we need a way to disable a test for a given TestTFM.

See https://github.com/dotnet/buildtools/blob/4bc8723ed65c6e6921649d196ed6f14bdfafdd7a/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L61 for the list of TestTFMs.

[2016-08-17 15:49] weshaggard commented on #960
@Chrisboh @markwilkie do one of you guys have someone to add this functionality?

[2016-08-17 21:04] #958 closed

[2016-08-17 21:11] AtsushiKan opened #964 "Package-Dependency verification should not open repo files with write access."
The new dependency verification step injected into "sync -p" by this PR (https://github.com/dotnet/buildtools/pull/953) causes hundreds of "UnauthorizedAccessExceptions" on

  .\dependencies.proj
  and every project.json in the tree.

Yes, I "attrib +r" all repo files I'm not actively working on. It's the one aspect of TFS I prefer to Git. It's also convenient for catching things that sneak change

[2016-08-17 21:15] dagood commented on #964
Thanks for filing, I'll check it out. I agree it shouldn't be trying to get write access.

[2016-08-17 21:44] #964 closed

[2016-08-17 22:19] maririos commented on #888
@TyOverby I'm not able to repro the issue.
I have an empty config.json file and when calling sync.cmd/build.cmd/run.cmd the error message is:
[code]
Is there something I'm missing?

[2016-08-18 15:15] TyOverby commented on #888
Nope, that was it.  Maybe it was inadvertently fixed by another change?

[2016-08-18 15:37] #889 closed

[2016-08-18 15:38] maririos commented on #888
I haven't change this part of the code, but I;m glad it works :)
I'm closing the issue then.

Thanks Ty!

[2016-08-18 15:38] #888 closed

[2016-08-18 15:48] chcosta opened #968 "Avoid duplication of Roslyn versions"
There are a couple of places where Roslyn versions are duplicated.  We should look to avoid the duplication where possible.  See https://github.com/dotnet/buildtools/pull/947

[2016-08-18 18:26] chcosta opened #969 "Run, doesn't print description if no alias provided"
If you create a command, and it only contains "defaultValues", no "alias" section, no description is displayed from "run -?"

[2016-08-18 22:16] crummel commented on #918
I'm looking at this now.

[2016-08-19 17:38] chcosta opened #973 "Run tool, suppress run output option?"
I intend to add an option to the run tool to suppress its output from printing to the console.  MsBuild, for example, has a "/nologo" option which is used to prevent printing its header information to the console when it runs.  I'd like a similar option to run which suppresses "run" output and only displays output of the command I'm actually running.

Suppressing the output from here - https://git

[2016-08-19 17:57] maririos commented on #973
So you would only want the output that MsBuild is directly producing?
https://github.com/dotnet/buildtools/blob/master/src/Run/RunProcess.cs#L57

[2016-08-19 18:01] chcosta commented on #973
Yes, I don't want these...

https://github.com/dotnet/buildtools/blob/master/src/Run/Setup.cs#L93
https://github.com/dotnet/buildtools/blob/master/src/Run/Setup.cs#L100
https://github.com/dotnet/buildtools/blob/master/src/Run/Setup.cs#L105

Perhaps there are more.  error output or exceptions from the tool itself might be ok as well.

[2016-08-19 18:09] maririos opened #974 "Is it mandatory for settings and commands to have different names?"
Right now the Settings, the Commands or the Alias names can't have the same name in the config.json file.
This is now causing problems when defying a setting that is a target in MsBuild and a Command with the same name.
For more information see PR dotnet/corefx#11003.

We should take a look to see if it is possible to work around this.

[2016-08-19 20:29] #890 closed

[2016-08-19 21:41] wtgodbe opened #977 "Condition for Property 'IsTestProject' is CoreFX specific"
https://github.com/dotnet/buildtools/blob/04599faf85856b754a1969f23095e28181e564e3/src/Microsoft.DotNet.Build.Tasks/PackageFiles/Build.Common.targets#L8

This check sets the property 'IsTestProject' to 'true' on the condition that the project in question has a name that ends with '.Tests'. This condition is specific to the coreFX repo, which should not be the case. We use this property for buildin

[2016-08-25 17:03] dagood opened #983 "Change dependency verification "source of truth" to repo API Consumes command json"
Instead of [`dependencies.props`](https://github.com/dotnet/corefx/blob/0743d949b8d7a63f8e7f9ff3b5023b1a8fa8618a/dependencies.props#L2-L7) being the source of truth, this info can be stored in the format of Repo API [`consumes`](https://github.com/dotnet/buildtools/blob/master/Documentation/RepoCompose.md#consumes).

This gives us a simple implementation of the `consumes` command in buildtools-usi

[2016-08-25 22:16] #973 closed

[2016-08-26 00:21] dagood opened #986 "Use new build-info structure (using Repo API) when publishing to dotnet/versions"
Instead of publishing a package list and a release file as a versions repo build-info, use a single json file that contains output from Repo API commands plus some build metadata.

Outputs that should be included:
- Build metadata: build id, product repo commit sha.
- ~~[`produces`](https://github.com/dotnet/buildtools/blob/master/Documentation/RepoCompose.md#produces): a list of all package ids a

[2016-08-26 14:14] eerhardt commented on #986
I agree this should satisfy what I was proposing for better build-info. The only thing I see missing is that there can be other types of assets besides NuGet packages.  `core-setup` and `cli` produce zips and installers as well as NuGet packages.  So we should be sure to allow for `produces` and `consumes` that aren't NuGet packages.

[2016-08-26 14:37] dagood commented on #986
The spec includes other assets, I just didn't think to point it out--check out [Artifact Specification](https://github.com/dotnet/buildtools/blob/master/Documentation/RepoCompose.md#artifact-specification) and the samples.

Rereading the spec a bit, I see that it actually says `publish` is an augmented `produces`--so I don't think including the `produces` output in the build-info is necessary. (Ed

[2016-08-29 18:34] Priya91 commented on #960
@Chrisboh @weshaggard Since i need this in my PR, if it's not being worked on, i will pick this up.

[2016-08-29 18:40] weshaggard commented on #960
Thanks @Priya91

[2016-08-30 19:27] #960 closed

[2016-08-30 23:17] justinvp opened #999 "Xunit.PlatformID should be plural"
This is very nit-picky, but it's a pet peeve of mine: It'd be nice if the .NET Core code followed the framework design guidelines, even in test infrastructure code, so it feels familiar to .NET developers.

[`Xunit.PlatformID`](https://github.com/dotnet/buildtools/blob/master/src/xunit.netcore.extensions/PlatformID.cs) is a flags enum, and according the [design guidelines](https://msdn.microsoft.c

[2016-08-30 23:28] justinvp commented on #999
Or maybe even just: `Platforms`?

[code]

[2016-08-31 00:51] weshaggard commented on #999
I have another reason to rename this which is that in conflicts with System.PlatformID which we have recently exposed and we had to use alias' to disambiguate. @joperezr I believe you hit that issue recently.

So I think we should rename it but Platforms might be a little to general, PlatformIDs seems a little better to me.

[2016-08-31 00:53] mellinoe commented on #999
`TestPlatform` ? Or something else with "Test" in the name?

[2016-08-31 00:54] weshaggard commented on #999
I'd be OK with TestPlatforms

[2016-08-31 01:27] Priya91 commented on #999
I'm not going to get this done anytime soon..

[2016-08-31 01:45] justinvp commented on #999
+1 to `TestPlatforms`.

@Priya91, I can submit a PR.

Should I...

1. Add `TestPlatforms` as a new enum and leave `PlatformID` for now (updating the attributes to support both) to make the transition easier? Then, after all uses have been updated (e.g. in CoreFX repo), follow-up by deleting `PlatformID` altogether?
2. Or just go ahead and rename `PlatformID` to `TestPlatforms` now, and force the c

[2016-08-31 02:38] justinvp commented on #999
Went with 1. PR: #1000

[2016-08-31 03:24] weshaggard commented on #999
I like option #1 as well.

[2016-08-31 14:32] dagood opened #1001 "When creating auto-update PR, log GitHub error responses"
GitHub sends [nice summaries of errors](https://developer.github.com/v3/#client-errors) for `422` responses. They should be logged to make debugging auto-PRs easier.

[2016-09-01 15:29] dagood opened #1004 "Determine correct buildtools-wide xunit version"
Currently there are multiple versions, and it would be good to add one repo-wide version to dependency validation.

Created this task to avoid figuring this out while working on https://github.com/dotnet/buildtools/issues/954 (Upgrade buildtools to RTM shared framework).

[2016-09-01 21:38] ericstj commented on #904
I believe this is a duplicate of https://github.com/dotnet/buildtools/issues/658

[2016-09-01 21:38] #904 closed

[2016-09-01 23:11] ericstj commented on #658
Fixed in https://github.com/dotnet/buildtools/pull/922

[2016-09-01 23:11] #658 closed

[2016-09-01 23:12] ericstj commented on #869
Fixed in https://github.com/dotnet/buildtools/pull/922

[2016-09-01 23:12] ericstj commented on #904
Fixed in https://github.com/dotnet/buildtools/pull/922

[2016-09-02 00:44] #969 closed

[2016-09-02 14:27] ratishphilip commented on #658
@ericstj  Will the updated NuGet package be available soon?

[2016-09-02 16:25] ericstj commented on #658
@ratishphilip you can always pick up builds from https://dotnet.myget.org/gallery/dotnet-buildtools (https://dotnet.myget.org/F/dotnet-buildtools/).  If we get a few folks testing this out we can push it to nuget.org.

[2016-09-02 23:18] StephenBonikowsky opened #1013 "Create common pre-release version used for all of the CoreFx packages."
Issue identified by @ericstj excerpt from e-mail...

[2016-09-07 17:45] ericstj opened #1017 "Make support harvesting explicit"
Harvesting of assets is intentionally an opt-in automatic behavior.

The problem with this is that there is no safegaurd in place if harvesting doesn't happen, and there is also no trace in the PKGProj that harvesting is required.  As such it appears as "magic" in the pkgproj.

To address this, we'll create a property called "HarvestSupportedFramework" which says that the package expects to suppor

[2016-09-07 17:52] joperezr commented on #1017
I like the idea of strictly enforcing that the property is set. It removes the "magic" that happens behind the scenes and it makes it more clear what's going on.

[2016-09-07 20:39] weshaggard opened #1019 "Support generating package reports for private/runtime packages"
Today we are using the reports to generate flat layouts for indexing our builds but the runtime and private packages don't have reports so we are special casing them by hard coding packages (see https://github.com/dotnet/corefx/blob/dev/api/layout/dir.proj#L19). That is very fragile and keeps breaking. Instead we should produce a package report for all our packages.

cc @danmosemsft

[2016-09-07 23:37] adityamandaleeka opened #1021 "Improve core dump handling"
When we first enabled dump collection in buildtools, it was on par with CoreCLR's dump collection and was carefully designed to avoid issues like flooding machines with dumps or having dump-related settings persist between tests when they shouldn't.

However, since then, the CoreCLR dump story has moved forward substantially (with automatic uploading and improved OS X dump management being just tw

[2016-09-08 00:39] dagood commented on #1001
We should also give detailed results for `503`s, because they're typically API rate limits.

[2016-09-08 16:12] chcosta opened #1023 "ExternalPackages cleanup in AddDependenciesToProjectJson"
ExternalPackage versions are no longer used, we now use exclusively the package drop or a versions file.   ExternalPackage code should be cleaned up from BuildTools in these locations:

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/AddDependenciesToProjectJson.cs#L57
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/AddDependencie

[2016-09-08 23:42] #1013 closed

[2016-09-09 05:55] ratishphilip commented on #658
@ericstj
I took the latest build from the location you specified and now I see that in the generated **.cs** file, earlier each of the method used to return the default value of the return type.
Now instead of that each method has **throw null;** statement.
Is this intended? Could you please explain the reason behind this change?

[2016-09-09 17:03] dagood opened #1028 "Include build-info path in BuildInfoCache to avoid false cache hits"
Right now, BuildInfoCache uses this path map:
`Tools/BuildInfoCache/<versions repo commit sha>/<short name>/buildinfo.json`

The full path on dotnet/versions has a branch name:
`<build name>/<branch name>/Latest_Packages.txt`

This means if the branch name configuration changes but the commit sha doesn't, the cache will still return the old data. For example, if a repo decided to change to `releas

[2016-09-09 17:06] ericstj commented on #658
Looks like this was changed by @KrzysztofCwalina with https://github.com/dotnet/buildtools/commit/10cef454e30604e6276459e91371ecffbf72345c because the throw null resulted in a smaller assembly size.  Krzysztof, did you consider making this configurable with a parameter?  That's what we already do with ['-throw'](https://github.com/dotnet/buildtools/blob/a23227c69643783164e24dcdda5782be9a6507f3/src

[2016-09-09 18:04] ratishphilip commented on #658
ok.
My doubt is will these throw statements actually raise an exception? Or they will be ignored when the package is referenced?

[2016-09-09 18:07] ericstj commented on #658
This tool is for creating reference assemblies which are never used at runtime, only compile time.  The compiler won't execute the code so these throws will never be seen.  Most of our reference assemblies also use the [ReferenceAssemblyAttribute](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.referenceassemblyattribute(v=vs.110).aspx) which prevent the assembly from even

[2016-09-09 18:11] ratishphilip commented on #658
Thanks for the clarification.

[2016-09-14 18:20] ericstj opened #1039 "Add support for merging packages in harvesting"
Some packages may want to subsume runtime packages into the identity package.  Allow for this by having the PKGPROJ define the MergePackageIds that should be subsumed.

Those items can define PathsToExclude, PathsToSuppress to independently exclude portions of the subsumed packages (like placeholders).

Those subsumed packages should also be used when calculating the support of the package.

/cc @

[2016-09-14 22:33] ericstj opened #1041 "ResolveContract.targets doesn't allow for specifying metadata like TargetGroup for ContractProject"
/cc @JeremyKuhne @weshaggard

[2016-09-15 16:06] dagood opened #1043 "Make UpdateDependenciesAndSubmitPullRequest handle rate limiting gracefully"
Instead of failing immediately if a 403 is hit for rate limit or API abuse limit reasons, auto-PR should wait for the next window and retry.

[2016-09-15 17:24] SedarG commented on #1039
@ericstj , do you have an estimate about when you'd be able to close this issue

[2016-09-15 17:40] ericstj commented on #1039
I'll try to get to it today.

[2016-09-15 19:41] jhendrixMSFT opened #1045 "Add property to version-stable location of dotnet.exe"
In https://github.com/dotnet/buildtools/pull/1038 a change was made to make the path to the shared framework copy of dotnet.exe resilient to versioning, e.g. $RepoRoot\Tools\dotnetcli\shared\Microsoft.NETCore.App\version\dotnet.exe; this way when the CLI is updated and a new version of FX is brought it we don't need to update a bunch of runtime config JSON files.  Only run.ps1 is consuming this at

[2016-09-15 19:42] jhendrixMSFT opened #1046 "Rename the "Tools" directory to ".tools""
By convention our infrastructure directories should be a "dot directory", so we should rename the "Tools" directory to ".tools".

[2016-09-15 19:57] #1039 closed

[2016-09-15 19:58] mellinoe commented on #1046
Like I said in the other PR, I don't like this convention; I don't think we should have any of our folders be hidden unless there's a really good reason to do so. Additionally, running tools from this directory is very common. I understand there's a desire to hide all that away in the run tool, but I'm doubtful we will ever get to a point where folks are not still directly running some commands fr

[2016-09-16 16:11] ericstj commented on #1039
You should be able to use this in CoreFx now.  Note that I changed the item name to HarvestAdditionalPackageIds

[2016-09-16 17:16] chcosta opened #1049 "Refactor properties out of repo's and into BuildTools where appropriate"
Related to build cleanup - https://github.com/chcosta/corefx/blob/f2673c97a30e8ad79b0dc4c4bb7b29cc2454def8/Documentation/building/build-guidelines.md

[2016-09-16 17:17] chcosta opened #1050 "Refactor targets out of repo's and into BuildTools where appropriate"
Related to https://github.com/chcosta/corefx/blob/f2673c97a30e8ad79b0dc4c4bb7b29cc2454def8/Documentation/building/build-guidelines.md

Also see https://github.com/dotnet/buildtools/issues/1049

[2016-09-19 17:47] chcosta commented on #1049
As an initial pass, I'm going to look at all of the places in CoreFx where we are defining properties which are compound properties (built up from other properties).  Not all of these will be ideal to move into BuildTools, but this seems like a good list to start with and examine closer.

[Compound Properties List (CoreFx)](https://github.com/dotnet/buildtools/files/480718/compoundproperties.txt)

[2016-09-20 21:20] AtsushiKan commented on #1046
If the purpose is to avoid collisions, why not set aside <b>one</b> reserved directory name and everything (Tools, packages, bin) placed under it.

And if it has to start with a ".", I'd prefer that second letter be something that sorts before "g".

Because sooner or later, I'm going to by "rd /S /Q .tools" routine, hit TAB for auto-completion one keystroke too early and yay! no more ".git" direct

[2016-09-22 02:07] weshaggard opened #1056 "ApiCompat doesn't correctly harvest dependencies for depproj's"
See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/468/consoleFull

[code]

There are cases where the base types that come from the live ref project dependencies cause compat issues. We need another potential strategy for getting the contract dependencies in these deproj cases.

We finally hit a case where this assumption (https://github.com/dotnet/buildto

[2016-09-22 16:51] MattGal opened #1058 "After a retry, SendToHelix task doesn't actually log success"
Reading the source code, one can INFER when success happens, but it's unclear after a bunch of retries what really happens from the logs:

https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/SendToHelix.cs#L92

Example:
  D:\A_work\18\s\Tools\CloudTest.targets(425,5): warning : Helix Api Response: StatusCode Unauthorized You do not have permission to view thi

[2016-09-22 21:40] weshaggard opened #1059 "Need to update tool source from internal CoreFXTools repo"
Port all remaining changes from our internal CoreFxTools repo to the open and delete the internal repo.

[2016-09-22 21:41] weshaggard commented on #1059
cc @terrajobst

[2016-09-26 16:11] weshaggard opened #1064 "test-archiving is failing in our release branch."
We need to port change #1052 to a release branch of build tools so we can consume it in our corefx release/1.1.0 branch.

We will need to fork at whatever version
1.0.26-prerelease-00802-01 (https://github.com/dotnet/corefx/blob/release/1.1.0/BuildToolsVersion.txt), points to.

[2016-09-26 16:23] gkhanna79 commented on #1064
This is blocking 1.1.0.

CC @leecow

[2016-09-26 17:17] ericstj commented on #1064
I think we'll need a later codebase.  I've brought us up to 1.0.26-prerelease-00819-01 in a PR I am preparing to fix https://github.com/dotnet/corefx/issues/12028.

[2016-09-26 17:21] bryanar commented on #1046
@mellinoe I am skeptical that a change like this is going to cause _a lot_ of confusion, any idea if people are frequently not showing hidden files by default? Would documenting, or adding it to our output be helpful in anyway to avoid the confusion? I am in favor of the change if we can prevent confusion from cropping up in another way.

@AtsushiKan

Here are some names that fit your constraints

[2016-09-26 17:24] josalem opened #1065 "`refs` directory in published output of ASP.NET Core application"
# `refs` directory in published output of ASP.NET Core application

When you publish a ASP.NET Core application, you will end up with a `refs` directory in the publish output.  It seems to be leftover from the build process and is not required to actually run the application.  You can remove the directory from the publish output and the application will still run.  I think it may have something to

[2016-09-26 17:26] AtsushiKan commented on #1046
The bin directory should be kept separate. Doing a clean-build (for people like me who don’t trust incremental build and never will) and doing a clean-sync are two separate decisions.

This list of directories is considerably longer than I anticipated. I’d really prefer to see them collected under an umbrella directory if they’re going to be that many.

[2016-09-26 17:30] bryanar commented on #1046
@AtsushiKan
I like your bin idea.

That list was just a POSSIBLE list of names for you to pick from. I.e. you said "I want .tools, but I want the name changed." Hence I produced a list of names for you to pick from :)

[2016-09-26 17:33] AtsushiKan commented on #1046
Ok, cool. Just as long the number of non-repo directories remain manageable.

[2016-09-26 18:02] josalem commented on #1065
Accidentally put this in the wrong repo.  Moving to CLI.

[2016-09-26 18:02] #1065 closed

[2016-09-26 20:10] mellinoe commented on #1046
`ls` doesn't show dot-named files/folders by default, unless you pass `-a`. This will be confusing for people building outside of Windows, and will be less discoverable. These aren't "hidden folders" in the Windows sense; Windows still shows them there and they are still visible in all places that I can tell, unless you are doing something special to filter them.

Anyways, what's the benefit of do

[2016-09-27 17:07] bryanar commented on #1046
GOOD! This is exactly the point. It's a **bad _user experience_** to have to require deconstructing our build tools to accomplish a task. What would be really productive here is if we could understand why people feel the need to go execute things directly from within build tools, and then extract that in to the repository.

I'll answer this socratically: What's the point of private/protected varia

[2016-09-27 17:22] mellinoe commented on #1046
My original point was that we don't (yet) have the proper encapsulation to just replace everything with the run tool, if that is what you're implying. I'm just basing my answers on my own workflow in our repos, which involves invoking some things directly from the tools directory. I accept that I might be an oddball if some other folks want to chime in, or if we want to say we're going all-in with

[2016-09-27 18:59] danmoseley opened #1067 "Improve BinClashLogger alert"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/693/
failed with

MSBuild Error

error MSB4015: The build stopped unexpectedly because the "ReusableLogger" logger failed unexpectedly during shutdown.
Indication 1

if you look at the log though, it's the BinClashLogger telling us about a problem. Probably there is no way to do this cleaner than throwing an e

[2016-09-28 15:37] dagood commented on #1046
I tend to do manual runs of dependency auto-update targets using `Tools\msbuild.(cmd|sh) ...` because it's repo-independent. I don't want to add these things to the `config.json`s because there isn't a way to "inherit" generic commands from buildtools (yet) and I don't want to maintain the config in each repo.

That said, I'm fine typing `.tools` instead, trading a capital letter for a `.`. I thin

[2016-09-28 16:10] markwilkie commented on #1046
@mellinoe (and others), could you file issues for all the scenarios/tasks which require direct invocation inside of build tools please?  I agree that we're not there yet w/ encapsulation, but it sure would be great to get there for at least the vast majority of the dev workflow scenarios.

[2016-09-29 00:05] joperezr opened #1074 "Fix GetPerfTestAssemblies to throw warning instead of error when no perf assemblies where found"
Currently in corefx, we are running all of our perftests with netcoreapp1.0 and the FilterToTestTFM is set to netcoreapp1.1, so when we run this task on our official builds, it can't find any assemblies as it tries to find them under a netcoreapp1.0 folder. For this reason, we should instead throw a warning instead of failing the builds due to this.

FYI: @weshaggard
cc: @MattGal

[2016-09-29 15:27] MattGal commented on #1074
@joperezr  agreed, but we do need some kind of indication if a test build produced no output at all.  If it's just a warning, it's fairly likely to be ignored.  Do you have any suggestions?

[2016-09-29 16:50] joperezr opened #1076 "The archiving of the test build shouldn't use project-specific configuration for the location of the zip"
Today, official builds have a step after running tests for a particular project that zips them and puts them in a directory. The selection of this directory, [is using that project's specific configuration](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/publishtest.targets#L254-L255) to build the `<TestArchiveDir>`.

Once all test builds and runs are

[2016-09-29 17:05] joperezr commented on #1074
I agree that a warning might be dismissed, but I also think that given that the logic itself for finding test archives is flaky then we definitely shouldn't break the build for this, which is why my suggestion is still to move it to a warning. Check issue #1076 that I logged this morning which contains a bit more explanation of how the logic for archiving and finding test zip files is error-prone

[2016-09-29 17:42] weshaggard commented on #1076
On top of that we should not see things like OSPlatformConfig at all in any of the non-project-specific targets like https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/PackageFiles/CloudTest.targets#L41.

[2016-09-29 18:03] bartonjs commented on #1076
@weshaggard If that's saying "we don't have any OSGroup-specific test builds", that's not true (though, I suppose, with enough work it could be).  If it's saying that OSGroup-specific things are handled at a different layer, that's fine.

[2016-09-30 06:57] weshaggard commented on #1076
They should be handled at a different layer. For example:

[code]
That should be:
[code]
And then we can work on everything under the archive folder and individual projects can still put assets under an OSPlatformConfig sub-folder there. The individual projects actually have the right context to do that whereas the overarching post-build step doesn't have the right context and so it shouldn't assu

[2016-09-30 07:08] bartonjs commented on #1076
Okay, cool with me.  I just wanted to make sure that none of the platform-specific-build tests got broken by that.

[2016-09-30 21:48] MattGal opened #1078 "Run.exe's usage output is always max verbosity"
Currently, when using -? to get help with the standard developer work flow, the output ends up as several pages of information, much of which is not necessary to actually use the program.

Ideally the basics of each command could be shown using 1-2 lines apiece and fitting on a single page;  Users could see the large paragraph explaining what run.exe is, every option, and the resultant msbuild com

[2016-09-30 21:55] MattGal opened #1079 "Consider not requiring '-' character before action verbs for Run.exe"
Consider how a tool like dotnet.exe works:
To restore nuget packages (a command), one calls: **dotnet restore**, to publish **dotnet publish** etc.

For the commands supported by Run.exe, they are not stored in config.json this way but they expect and print usage with a '-' character preceding them, e.g. "**build.cmd -binaries**"

This behavior is confusing to the user since a flag like -binaries

[2016-10-01 04:15] weshaggard opened #1080 "clean.cmd --all start a build instead of doing a clean"
While intended to do a `clean.cmd -all` I typed `clean.cmd --all` (I guess I've been typing too many git commands recently where that is the convention).  When I do that I get:

[code]

instead of doing any clean it actually started to do a build. I suspect this is because everything beyond "--" is ignored by the parser but I'm not sure why the "all" part was completely thrown out instead of being

[2016-10-03 16:21] #999 closed

[2016-10-03 18:38] dagood opened #1085 "Inherit some Run.exe config from buildtools"
Some commands are shared between all buildtools-using repos because they only use functionality defined in buildtools. Instead of repeating these commands in each repo's `config.json`, they should be inherited from a repo-agnostic `config.json` defined in buildtools.

Most recently I brought this up in https://github.com/dotnet/buildtools/issues/1046#issuecomment-250205226, and I realized that the

[2016-10-03 20:26] markwilkie commented on #1085
@MattGal - this should probably be a part of the dev workflow work you're looking into.

[2016-10-03 22:12] ericstj opened #1086 "Remove use of AllowFallbackOnTargetSelection"
This is causing mismatched NuGetTargetMoniker and project.json to result in a warning, which folks never pay attention to, until they pile up.  EG: https://github.com/dotnet/corefx/issues/12233

When this change is made we'll need to make sure corefx is in good shape and we weren't relying on the fallback behavior anywhere.

/cc @alexperovich

[2016-10-04 17:18] MattGal commented on #1080
There are a few problems here.  I've prepared a couple fixes but at some point, we'll also want to also get the usage text out of the clean.cmd file since this is a recipe for getting out of synch with what's actually in the config.json file, either by adding new aliases or deleting old ones.

1) PR : https://github.com/dotnet/corefx/pull/12344
While it would be much preferred to get all the value

[2016-10-04 20:32] #853 closed

[2016-10-04 20:37] MattGal commented on #381
@roncain  can this be closed given all restore is done from dotnet now?

[2016-10-04 20:39] MattGal commented on #343
@ericstj I don't know exactly when but this has been working for some time;  for instance, various tests depend on copying their content to recursively defined sub directories, like the System.Private.Xml tests.

[2016-10-04 22:29] MattGal opened #1089 "Run.exe can capture input state, resulting in strange console behavior"
I routinely run into this issue when using Ctrl-C / Break to cancel a build started by Run.exe.  The symptoms include:
- Tab no longer causes file name completion, but rather inserts a tab (indentation)
- Pressing Enter/Return causes a carriage return the first time, works as expected the second time.

There's no obvious reason for this;  there's some theories around it being related to Win32 APIs

[2016-10-04 22:53] MattGal opened #1090 "Change project type for Run.exe to a dotnet core app"
Currently Run.exe builds as a "Portable .NET Console app" project type despite being runnable from dotnet.exe.  As such, F5 debugging of the project doesn't work.

For engineers working to debug and add features to this library, having a F5-debug-able project makes good sense and should be fairly cheap.

[2016-10-04 23:17] hughbe opened #1091 "Xunit UWP runner crashes on certain invalid char enums"
Yes, char enums do exist! When moved into MemberData, the tests found here: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/EnumTests.cs#L1453-L1461 crash with the following mesage:
![error](https://cloud.githubusercontent.com/assets/1275900/19095982/05241d1a-8a91-11e6-8ce9-fd9e6f53d02e.png)

Note: I have tested and made sure that invalid chars work, so that part of th

[2016-10-05 15:56] tarekgh opened #1092 "Handle assembly binding when running tests against full framework"
When running the tests against full framework (TestTFM is net46x), we run into assembly binding issues by the loader because the loader can load the older version of the assembly which cause runtime error like:

[code]

I believe the way to fix this is to add the following to tests.targets:

[code]

[2016-10-05 15:58] tarekgh commented on #1092
CC @ericstj @JeremyKuhne

[2016-10-05 16:59] ericstj commented on #1092
/cc @weshaggard
For this to work ResolveAssemblyReferences (RAR) will need to see the desktop assemblies.  Not sure if that will necessarily happen in the cases where we compile against netstandard but run against net4*.

[2016-10-05 19:16] ericstj opened #1093 "Index packages with only runtime-specific impls"
https://github.com/dotnet/buildtools/commit/e6f32a54deeaee94063eb6d4164221ad1d66e363 fixed indexing so that it could handle packages without refs, but I missed the case where a package only had runtime-specific Impls.

[2016-10-06 00:12] #756 closed

[2016-10-06 00:35] MattGal opened #1097 "SendToHelix task should print out raw response text if response is not JSON-Deserializable"
In the case of receiving a response from POST'ing to the Helix API, the response may be HTML and not JSON.  IN this case, we should catch the exception and print the raw content of the stream we're attempting to deserialize.

[2016-10-06 17:38] weshaggard opened #1098 "Tests don't publish updated libraries for incremental builds"
See comments at https://github.com/dotnet/buildtools/pull/1095

The basic issue is our runner scripts and our VS copy steps don't take into account when we are building live dependencies incrementally as it will not copy them to the test output directory.

[2016-10-06 17:40] weshaggard commented on #1098
cc @ericstj @MattGal

[2016-10-06 17:54] weshaggard commented on #1098
For reference there are a few requirements we need to try and maintain.

1. The running, including the copying, works consistently between local, CI, and official test runs.
2. Dev's can perform an incremental build which will update test output directory with any files that have changed.
3. Dev's can F5 and test the default configuration in VS. Ideally we would provide a way to F5 other TestTFM's

[2016-10-06 17:55] ericstj commented on #1098
I see two problems here:
1. Copy is skipping if the file exists.
2. Copy is getting paths that overlap with files provided by the project.

1 is easy to fix, just overwrite, potentially skipping if the files are the same.
2 is happening because the list isn't being filtered.  I believe that _TestCopyLocalByFileNameWithoutDuplicates should exclude any items that have the same filename as the Source

[2016-10-06 21:12] jianyunt opened #1101 "Do we have to use “--configuration Linux” if want to build for Linux?"
We use dotnet build for our [OneGet](https://oneget.org) project for both coreclr and fullclr. Our code is C# based.
Our goal is to use the donet coreclr build so that our binaries can be run on windows, Linux, Mac, etc.

However we observed that :

If we want to build for Linux, we have to pass in  --configuration Linux . The binaries generated then work well on Linux . For example,

dotnet -v bu

[2016-10-06 22:31] MattGal commented on #1098
I'm experimentally verifying whether #2 even remains a problem at the moment.   I believe we do already have items representing both filtered and un-filtered lists here, it may just be a matter of doing the plumbing to get them there.

#1 is simple for the files copied by the MSBuild copy task but slightly trickier for the files coming from the package cache copied by the RunTests script.  Do you

[2016-10-07 00:26] weshaggard commented on #1101
This is the wrong repo for this request. I think http://github.com/dotnet/cli is the more appropriate repo.

[2016-10-07 00:26] #1101 closed

[2016-10-07 00:28] weshaggard opened #1103 "Enable /m for our xplat builds."
msbuild has enabled /m for x-plat so we should update our version of msbuild to start using it.
https://github.com/Microsoft/msbuild/issues/303

@markwilkie who would be a good person to give this work-item to?

[2016-10-07 00:35] weshaggard commented on #1098
We should do some validation on this to see what it does for our incremental builds. I suspect it will cause things to copy every time and if that is the case then I don't like that solution.

[2016-10-07 16:36] joperezr commented on #1103
I'm not sure if I understood this correctly, but aren't we already doing this here: https://github.com/dotnet/corefx/blob/master/config.json#L527

[2016-10-07 18:40] dagood opened #1106 "When bootstrapping buildtools, resume from last successful step"
Bootstrapping might be cancelled intentionally (ctrl-c) or fail during certain steps. When possible, we should be able to resume the bootstrapping process from where it stopped.

One clear cutoff, for example, is that bootstrapping should be able to avoid redownloading the CLI if the buildtools package init fails.

[2016-10-07 23:52] MattGal opened #1108 "Consider supporting custom Azure ContainerName for helix runs"
Previously, we allowed the user to specify their own value for ContainerName.  THis can still be achieved via override from external build command line, but it cannot be generated and provided as a property from Msbuild.

Line in question:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/PackageFiles/CloudTest.targets#L28

[2016-10-08 00:11] MattGal opened #1109 "CloudTests.targets cleanup"
Various small cleanup tasks for @chcosta's review of cherry-picking old commits into the buildtools release/1.0.0 branch.
-  <HelixApiEndpoint Condition="'$(_UseUpdatedHelixApi)'=='true'"> should include and  '$(HelixApiEndpoint)' == ''"

-HelixJobType Property:
This all looks very tightly coupled, but weakly regulated. ie, it would be easy for someone to miss updating one of these values. A struc

[2016-10-08 04:49] weshaggard commented on #1103
Your right I miss remembered something here. Do you know if we are still using daniel's private packages for msbuild? If so we should at least move to the official msbuild package to get this update.

[2016-10-08 06:09] weshaggard opened #1110 "Remove UseECMAKey hack for unix builds"
Remove hack for blocking ECMA key https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/Roslyn.Common.props#L28

After our last compiler update we got the public key signing support from https://github.com/dotnet/roslyn/issues/2444 so this hack is no longer needed.

[2016-10-10 14:21] janvorli opened #1111 "Recent CLI doesn't work with init_tools.sh"
While trying to help someone from the community to build coreclr on Linux with kernel version >= 4.6, which requires using recent CLI, I have discovered that init_tools.sh don't work when I modify the DotnetCLIVersion.txt to point to a recent version, e.g. 1.0.0-preview3-003786. There are two issues here. First one is a folder casing issue:
`/home/janvorli/git/coreclr/init-tools.sh: line 137: /hom

[2016-10-10 14:55] dagood commented on #1111
The casing change in coreclr `init-tools.sh` is something that needs to change in coreclr, but the second problem looks like it can be solved with something like https://github.com/dagood/buildtools/commit/1798b24 to allow any package id casing.

[2016-10-10 17:52] dagood commented on #1043
This should handle any way that a 403 is hit, not just `UpdateDependenciesAndSubmitPullRequest`.

[2016-10-10 19:51] #1001 closed

[2016-10-10 20:59] #1064 closed

[2016-10-10 21:09] weshaggard opened #1116 "Refactor testing targets"
Over time our testing targets have just been modified incrementally for lots of different scenarios and they have become very stale and fragile. We need to clean-up and refactor all our tasks and targets to clearly identify the individual pieces and correctly layer them.

_Example of recent breaks:_
https://github.com/dotnet/buildtools/pull/1095 - because VS uses a different code path for testing

[2016-10-11 15:13] dagood opened #1117 "Make a build-info file available that maintains previous builds' packages"
Right now `VersionsRepoUpdater` overwrites `Latest_Packages.txt` with the list of packages created during the current build. Instead, the `Latest_Packages.txt` should contain the latest versions of all packages ever published from that build, unless packages are manually removed. For example, a servicing release would only update the serviced packages in `Latest_Packages.txt` to their new versions

[2016-10-11 16:04] weshaggard commented on #1117
Sounds good. I do like the idea of having the separate "LastBuild" list as well.

[2016-10-12 17:17] MattGal opened #1121 "We need to provide a common build property that describes all dimensions of a current build"
Test and product builds often build the same project with the same assembly name but for different OS Group, configuration, TFM, and other parameters at the same time.  We have logic that attempts to always generate a unique path (generally for files and folders) when these projects are building at the same time, but this logic is duplicated in many places and not always updated when a new dimensi

[2016-10-12 17:52] weshaggard commented on #1116
Another related clean-up item is https://github.com/dotnet/buildtools/issues/1121, that has caused many race conditions in various places because we depend on various incorrect combinations of properties for the different build configurations in lots of places which don't get updated when we add new configurations.

[2016-10-12 18:50] weshaggard commented on #1121
I would take this a step further and say we should grep for OSGroup/TargetGroup/ConfigurationGroup/TestTFM in all our targets and remove the usage and instead only use the new composite properties for paths and/or file names that are supposed to be unique for a given project configuration.

[2016-10-13 02:53] ericstj commented on #401
This does now fail the build

[2016-10-13 02:53] #401 closed

[2016-10-13 02:53] #424 closed

[2016-10-13 16:58] davidfowl opened #1127 "GenAPI doesn't handle value types with default parameters set"
Seems like it always sets the value to null.

[code]

Will generate:
[code]

/cc @weshaggard

[2016-10-13 21:47] #1019 closed

[2016-10-14 06:50] #1127 closed

[2016-10-14 17:50] ericstj opened #1132 "Xunit.runner.uwp fails to build"
On a fresh machine I cannot build buildtools due to this project's dependencies.

[code]

We should be able to build clean with out VS/UWP toolchains.  Elsewhere we've tried to flatten these dependencies.

/cc @weshaggard @crummel @MattGal

[2016-10-14 17:52] MattGal commented on #1132
@ericstj  While I agree with the sentiment, you should be aware that having recently done fresh setup on Windows 10 @ home, I'm pretty sure that VS 2015 is mandatory to build CoreFX  too at least as of last week.

It's tricky, I'm not sure there's any sort of out-of-band UWP SDK that one can use.

[2016-10-14 17:55] ericstj commented on #1132
We packaged up windows.winmd to make this work in corefx.  We definitely don't require VS for corefx builds: it builds on mac/unix.

[2016-10-14 18:33] crummel commented on #1132
@ericstj  Looks like https://github.com/dotnet/corefx/pull/5090 is that change?  I can look at doing that here as well.

[2016-10-14 18:43] MattGal commented on #1132
@ericstj should we then change this page's 4th line? https://raw.githubusercontent.com/dotnet/corefx/master/Documentation/building/windows-instructions.md  .

[2016-10-14 21:13] ghost opened #1137 "Looking for documentation about the build tools"
It is not immediately accessible to me the entry points to our build tooling nor how to use them properly (without resulting in many cycles of guess and check to 'figure it out').

Is there some way we can get an enumeration of the test tooling, along with the intended 'use scenarios'?

[2016-10-14 21:27] bryanar commented on #1137
Proposed approach: an index at the front of the repository that has an enumeration of all of the tooling, and then for each additional 'tool' a mark down file that follows the 'layout' of the original man-pages (https://en.wikipedia.org/wiki/Man_page)

From that:

@markwilkie @Chrisboh @MattGal

[2016-10-14 22:34] mellinoe commented on #1132
Actually, we do require VS 2015 for corefx builds, unless something has changed. It had something to do with the fact that we use full MSBuild and need some nuget targets that were installed with VS. It's possible that there's some smaller thing you could point to instead of VS 2015, but I'm not sure. It's also possible that this requirement has changed sometime since I last checked. We added that

[2016-10-14 23:46] #928 closed

[2016-10-14 23:46] #910 closed

[2016-10-15 00:07] MattGal commented on #1074
@joperezr with the AnyOS bug fix from earlier fixed, we should be able to turn perf tests back on.

[2016-10-17 15:47] dagood opened #1140 "Auto-PR generation might not wait for pushed commits to be available through API"
https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=477589 got this error:

Earlier I thought this was a race condition between auto-PR runs and merges, but the the linked build's case I think it's just because the PR creation call happens immediately after the push with no delay, but maybe GitHub needs some time for the pushed commits to be available.

To diagnose this, we should use the

[2016-10-17 17:00] crummel commented on #1132
@ericstj
I removed the winmd requirement (https://github.com/crummel/dotnet_buildtools/commit/b84ad75f7671cedf25ba50d20b37c98a357e3982) but buildtools still seems to require VS to build.  I first got a bootstrapper error:
C:\temp\dotnet_buildtools\Tools\dotnetcli\dotnet.exe compile-csc @C:\temp\dotnet_buildtools\packages\Microsoft.DotNet.BuildTools\1.0.26-prerelease-00802-01\lib\tool-runtime\obj\D

[2016-10-17 17:05] MattGal commented on #1132
@ericstj , @crummel : Perhaps the shorter term solution here would be to simply change things up to not build the UWP runner at all when the OS is not Windows_NT.  Any tests that use this 1) can only run on Windows and 2) Would be restoring a specific version of the UWP runner from a nuget feed anyways... it takes a fair amount of extra effort to even run the version that just got built.

[2016-10-17 18:07] danmoseley opened #1141 "dot-net bot repo update PR's should include commit SHA's"
eg https://github.com/dotnet/corefx/pull/12721/files tells me   <CoreClrCurrentRef>28bce260e5ca4c279913dd523ae70b3f4adb1e19</CoreClrCurrentRef> but this is the SHA for dotnet/versions.

What I want to know is what changes this will bring me, ie., what the SHA is in coreclr. Right now I have to go to myget and get the package with the stated version, crack it and look at the commit ID inside it.

I

[2016-10-17 20:32] joperezr commented on #1141
I'm not sure if this is possible though, as we would probably need to check this sha into dotnet/versions probably to get this working. @dagood  thoughts?

[2016-10-17 20:57] dagood commented on #1117
This is done, and happens in corefx master.

[2016-10-17 20:57] #1117 closed

[2016-10-17 21:08] dagood commented on #1141
Correct, the auto-PR process currently has no better way to get this info because it relies on what's in dotnet/versions. Adding the build commit SHA to the versions repo is tracked in https://github.com/dotnet/buildtools/issues/986.

I'm on the fence about baking the SHA into source, though. Would it be enough for it to be listed in the PR description, or do you think you'll want quick access off

[2016-10-17 21:08] ericstj commented on #1132
It seems reasonable to not build parts of the repo if we don't have toolsets to build them.

We should make sure that all our dependencies are deliberate.  I know for the rest of buildtools there shouldn't be any deliberate dependencies.  I'd also assert that any corefx dependencies are not deliberate.

We don't require them, the problem was that they hook MSBuild centrally and if an old version w

[2016-10-17 22:29] MattGal commented on #1080
All related PRs merged, this should not be an issue any more.

[2016-10-17 22:29] #1080 closed

[2016-10-17 22:34] MattGal commented on #700
Closing as the workflow defined at the top has been fixed for some time, although for F5 to work on most of these Slns you need to set the .Tests project as the startup project, not the DLL.

[2016-10-17 22:34] #700 closed

[2016-10-17 22:34] MattGal commented on #699
Fixed

[2016-10-17 22:34] #699 closed

[2016-10-17 22:35] MattGal commented on #1074
Closing as the requested change was made...

[2016-10-17 22:35] #1074 closed

[2016-10-18 16:26] weshaggard commented on #229
This is already done.

[2016-10-18 16:26] #229 closed

[2016-10-18 18:29] ericstj opened #1143 "Move Configuration & ConfigurationGroup defaults to Buildtools"
When @alexperovich made the workaround in https://github.com/dotnet/buildtools/commit/c6ed8f9faf019aae4366dca37fd142da9c2702a1 it broke some consumers of BuildTools that don't use OSGroup/TargetGroup/ConfigurationGroup.

We should move some of the boilerplate from CoreFx into buildtools to define these if we're going to depend on them being set.  Either that or condition the dependence on them to

[2016-10-18 21:30] #954 closed

[2016-10-18 22:20] MattGal opened #1144 "TestCopyLocal item group does not get a tested assembly's PDB if Test and product assembly are in different OS Group"
Repro:
Build and compare the Runtests.cmd / sh files for
System.Security.SecureString (repros problem)
Microsoft.Csharp (Does not repro).

The difference here is that the runner script generated for the latter ends up with the PDB to test in the copy local list, so it gets copied when propping test files.  (This happens in publishtest.targets).

I spent some time investigating this but need to loo

[2016-10-18 22:41] stephentoub commented on #1144
Note that this is preventing getting code coverage data on many of our libraries.

[2016-10-20 17:42] crummel commented on #918
Addressed by #1107 and #1125, closing.

[2016-10-20 17:42] #918 closed

[2016-10-20 17:50] weshaggard commented on #918
Thanks @crummel what is your plan for rolling this out the the other repos?

[2016-10-20 17:55] crummel commented on #918
@weshaggard I'm going to take a look and see if there's a workaround for the upgrade concerns that @livarcocc has - i.e. once support is dropped in CLI for project.json what happens.  I'm also planning to look into whether it's feasible to get buildtools off project.json now - do you know who was looking at it before?
It also looks like we'll need support in CLI's dotnet-install for "latest" as a

[2016-10-20 18:08] weshaggard commented on #918
I don't think anyone was looking at removing project.json from BuildTools repo. We cannot even consider that until we have new tools in places that can be used.

Please make sure there are tracking issues for everything left. I would like to get the bootstrapping changes into corefx before we go down the route of removing project.json files and the like because I do believe there is value independ

[2016-10-20 22:06] #864 closed

[2016-10-21 23:57] clayton-taylor opened #1152 "Project setting handled inconsistently by Run tool"
**Observed Behavior**

It appears that the Project setting is intended to be utilized by the Run tool to dynamically construct the path to the tools which do not have a path specified in the config.json file or to be passed as a positional argument to tools which do. I've found that one will get different behavior depending on whether or not a value is defined for the alias/command in the config.

[2016-10-22 17:00] stephentoub commented on #1144
This now does repro the problem.

[2016-10-24 21:13] dagood opened #1153 "Make NuGet dependency auto-update case-insensitive"
Currently package ids from dotnet/versions have to match the ones in a project.json exactly. NuGet itself is case-insensitive, so Package update should be too.

Issue was spotted in auto-PR: https://github.com/dotnet/corefx/pull/12958#issuecomment-255822892

[2016-10-24 22:58] ellismg opened #1154 "ApplyPreReleaseSuffix task fails with partial packages"
Building CoreFX locally with the following command:

`./build-managed.sh -FilterToOSGroup=Linux -BuildTests=false -BuildPackages=true -BuildAllOSGroups=false -- /p:AllowPartialPackages=true /p:BuildPackageLibraryReferences=false`

Yields the following error (this is hit for a few packages):

[code]

I think the problem us due to the synthetic dependency we construct in [Packagining.targets](https:

[2016-10-24 22:59] ellismg commented on #1154
/cc @ericstj

[2016-10-26 18:23] #1143 closed

[2016-10-26 19:40] dagood opened #1162 "In package's init-tools.sh, ensure portable targets and MicroBuild package copy correctly"
When init-tools copies `Microsoft.Portable.Targets` and `MicroBuild.Core` files to the tools directory, https://github.com/dotnet/buildtools/pull/1114 adds case insensitivity to the package directory layout using `find`. Using `find` rather than `cp` removes the implicit check to make sure the files that need to be copied exist. With `find`, if it doesn't find them init-tools will silently continu

[2016-10-27 01:47] livarcocc opened #1165 "boostrap script does not have an architecture option"
The bootstrap script is always installing x64 CLI, which causes the CLI's x86 builds itself to be x64, because we check the Inptr side to determine if we should build for x86 or x64.

Since we are always downloading x64 CLI, we are always building for x64.

Please add a parameter to allow specifying the architecture.

Meanwhile, I have reverted this change in the CLI as it broke our windows x86 bu

[2016-10-27 01:47] livarcocc commented on #1165
cc @piotrpMSFT